﻿<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <big-breadcrumbs items="['Competition List']" icon="file-text-o"
                             class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>

            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8 text-right">
                <span>
                    <button class="btn btn-primary" ng-click="newRow()"> <i class="fa fa-plus"></i> Add New Competition</button>
                </span>

            </div>
        </div>


        <!-- widget grid -->
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div data-jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-color="blueLight">

                    <header style="background-color: #5bc0dc; color: #fff;">
                        <span class="widget-icon"> <i class="fa fa-list"></i> </span>
                        <h2>Competition List</h2>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <label class="label"></label>
                            <div class="textarea">
                                <table datatable-basic tablebind="tablebind" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <thead>
                                        <!--<tr class="pplaceholder">

                                            <th class="hasinput" style="width:15%">
                                                <input type="text" class="form-control pplaceholder" placeholder="o_id" />
                                            </th>
                                            <th class="hasinput" style="width:15%">
                                                <input type="text" class="form-control pplaceholder" placeholder="maxspeed" />
                                            </th>

                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="minspeed" />
                                            </th>
                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="overspeedlow" />
                                            </th>
                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="overspeed10" />
                                            </th>
                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="overspeed20" />
                                            </th>
                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="overspeed30" />
                                            </th>
                                            <th class="hasinput" colspan="3" style="width:12%">

                                            </th>

                                        </tr>-->
                                        <tr>
                                            <!--<th data-class="expand">cmpt id</th>-->
                                            <th data-hide="phone,tablet">Competition Name</th>
                                            <th data-hide="phone">Start Date</th>
                                            <th data-hide="phone">End Date</th>
                                            <th data-hide="phone,tablet">Min Km Travel</th>
                                            <th data-hide="phone,tablet">Created By</th>
                                            <th>Edit</th>
                                            <th>View</th>
                                            <th>Delete</th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!--Print Pop-Up is Start Here-->
        <!--Print Pop-Up is Start Here-->

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Send Invitation </h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col col-12">
                                <label>TO</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-10">
                                <!--<label class="textarea">-->
                                <textarea name="emailid" style="width:100%" ng-model="emailto" />
                                <!--</label>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-12">
                                <label>Cc </label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-12">
                                <!--<label class="textarea">-->
                                <textarea name="emailidCc" style="width:100%" ng-model="emailidCc" />
                                <!--</label>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-12">
                                <label>Subject </label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-12">
                                <!--<label class="textarea">-->
                                <textarea name="subject" style="width:100%" ng-model="subject" />
                                <!--</label>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-12">
                                <label>Body </label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-12">
                                <!--<label class="textarea">-->
                                <textarea rows="4" name="body" style="width:100%" ng-model="Emailbody"></textarea>
                                <!--</label>-->
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="sendInvite();" data-dismiss="modal">Send</button>
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>

<style type="text/css" media="print">
    table {
        width: 100%;
        border: 1pt solid #000000;
        border-collapse: collapse;
        font-size: 11pt;
    }
</style>

