﻿<div id="content" class="configSetting">
    <section widget-grid id="widget-grid">

        <div class="row">
            <big-breadcrumbs items="['Parameters Configuration']" icon="file-text-o"
                             class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
            <div smart-include="app/layout/partials/sub-header.tpl.html"></div>

        </div>

        <form name="detailForm" novalidate="novalidate">

            <div class="row">
                <article class="col-sm-12">
                    <div jarvis-widget data-widget-color="teal" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #009688; color: white">
                            <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                            <h2>Over Speed Parameters</h2>
                        </header>
                        <div class="smart-form">

                            <div class="row">
                                <!--<section class="col col-3 col-md-4" ng-class="{'state-error': detailForm.code.$invalid}">
                                    <label class="label">Organaisation ID</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-life-ring"></i>
                                        <input type="number" placeholder="Organaisation ID" class="form-control" name="o_id" ng-model="o_id" ng-disabled="(action == 'View'||action == 'Edit' )?true:false" required />
                                    </label>
                                </section>-->
                                <section class="col col-3" ng-class="{'state-error': detailForm.o_id.$invalid}">
                                    <label class="label">Organization Name</label>
                                    <label class="input">

                                        <select title="Select vehicle number" name='o_id' id="o_id" ng-options="Organaisation.value as Organaisation.text for Organaisation in dtOrganaisationList" ng-model="o_id" ng-disabled="(action == 'View')?true:false" required></select>
                                    </label>

                                    <div ng-show="detailForm.VechicleNo.$touched">
                                        <div class="note note-error" ng-if="detailForm.o_id.$error.required">{{ validationMsg.required }}</div>
                                    </div>
                                </section>


                                <section class="col col-3 col-md-4" ng-show="false">
                                    <label class="label">Max Speed</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-life-ring"></i>
                                        <input type="number" class="form-control" name="maxspeed" ng-model="maxspeed" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>

                                <section class="col col-3 col-md-4" ng-show="false">
                                    <label class="label">Min Speed</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-life-ring"></i>
                                        <input type="number" class="form-control" name="minspeed" ng-model="minspeed" ng-disabled="(action == 'View' )?true:false" ng-show="false" />
                                    </label>
                                </section>


                            </div>

                            <div class="subHeader">
                                <h6>Speed Range (like 0-10)</h6>
                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Low Speed Range</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-life-ring"></i>
                                        <input type="text" class="form-control" name="overspeedlow" ng-model="overspeedlow" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>

                                <section class="col col-3">
                                    <label class="label">OS 10% Range</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-life-ring"></i>
                                        <input type="text" class="form-control" name="overspeed10" ng-model="overspeed10" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">OS 20% Range</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-life-ring"></i>
                                        <input type="text" class="form-control" name="overspeed20" ng-model="overspeed20" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">OS 30% Range</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-life-ring"></i>
                                        <input type="text" class="form-control" name="overspeed30" ng-model="overspeed30" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>

                            </div>

                            <div class="subHeader">
                                <h6>Speed Range and Weight (Day/Night)</h6>
                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Low Speed Driving Weight (Day)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-life-ring"></i>
                                        <input type="number" class="form-control" name="overspeedlow_d_wt" ng-model="overspeedlow_d_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>

                                <section class="col col-3">
                                    <label class="label">OS 10% Driving Weight (Day)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-life-ring"></i>
                                        <input type="number" class="form-control" name="overspeed10_d_wt" ng-model="overspeed10_d_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">OS 20% Driving Weight (Day)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-life-ring"></i>
                                        <input type="number" class="form-control" name="overspeed20_d_wt" ng-model="overspeed20_d_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">OS 30% Driving Weight (Day)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-life-ring"></i>
                                        <input type="number" class="form-control" name="overspeed30_d_wt" ng-model="overspeed30_d_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>

                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Low Speed Driving Weight (Night)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-life-ring"></i>
                                        <input type="number" class="form-control" name="overspeedlow_n_wt" ng-model="overspeedlow_n_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>

                                <section class="col col-3">
                                    <label class="label">OS 10% Driving Weight (Night)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-life-ring"></i>
                                        <input type="number" class="form-control" name="overspeed10_n_wt" ng-model="overspeed10_n_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">OS 20% Driving Weight (Night)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-life-ring"></i>
                                        <input type="number" class="form-control" name="overspeed20_n_wt" ng-model="overspeed20_n_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">OS 30% Driving Weight (Night)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-life-ring"></i>
                                        <input type="number" class="form-control" name="overspeed30_n_wt" ng-model="overspeed30_n_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>

                            </div>

                            <div class="subHeader">
                                <h6>Percentile and Overall Weight</h6>
                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">OS Default Percentile Value</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-life-ring"></i>
                                        <input type="number" class="form-control" name="overspeed_per_def" ng-model="overspeed_per_def" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>


                                <section class="col col-3">
                                    <label class="label">OS kth Percentile Value</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-life-ring"></i>
                                        <input type="number" class="form-control" name="overspeed_percentile" ng-model="overspeed_percentile" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>

                                <section class="col col-3">
                                    <label class="label">OS Overall Weight Value</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-life-ring"></i>
                                        <input type="number" class="form-control" name="overspeed_overall_wt" ng-model="overspeed_overall_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                            </div>

                        </div>

                </article>
            </div>

            <div class="row">
                <article class="col-sm-12">
                    <div jarvis-widget data-widget-color="teal" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #af64cc; color: white">
                            <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                            <h2>Harsh Event Parameters</h2>
                        </header>
                        <div class="smart-form">

                            <div class="subHeader">
                                <h6>Harsh Acc</h6>
                            </div>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">kth Percentile Value (Day)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="harsh_ha_d_percentile" ng-model="harsh_ha_d_percentile" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">kth Percentile Value (Night)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="harsh_ha_n_percentile" ng-model="harsh_ha_n_percentile" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Default Percentile Value (Day)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="ha_d_per_def" ng-model="ha_d_per_def" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Default Percentile Value (Night)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="ha_n_per_def" ng-model="ha_n_per_def" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                            </div>

                            <div class="subHeader">
                                <h6>Harsh Breaking</h6>
                            </div>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">kth Percentile Value (Day)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="harsh_hb_d_percentile" ng-model="harsh_hb_d_percentile" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">kth Percentile Value (Night)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="harsh_hb_n_percentile" ng-model="harsh_hb_n_percentile" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Default Percentile Value (Day)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="hb_d_per_def" ng-model="hb_d_per_def" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Default Percentile Value (Night)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="hb_n_per_def" ng-model="hb_n_per_def" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                            </div>


                            <div class="subHeader">
                                <h6>Harsh Cornering</h6>
                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">kth Percentile Value (Day)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="harsh_cornering_d_percentile" ng-model="harsh_cornering_d_percentile" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">kth Percentile Value (Night)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="harsh_cornering_n_percentile" ng-model="harsh_cornering_n_percentile" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Default Percentile Value (Day)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="hc_d_per_def" ng-model="hc_d_per_def" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Default Percentile Value (Night)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="hc_n_per_def" ng-model="hc_n_per_def" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>

                            </div>

                            <div class="subHeader">
                                <h6>Overall Weight</h6>
                            </div>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Harsh Event Overall Weight Value</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="harsh_overall_wt" ng-model="harsh_overall_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                            </div>


                        </div>

                    </div>
                </article>
            </div>

            <div class="row">
                <article class="col-sm-12">
                    <div jarvis-widget data-widget-color="teal" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #009688; color: white">
                            <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                            <h2>Call Taken Parameters </h2>
                        </header>
                        <div class="smart-form">
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">kth Percentile Value (Day)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="call_d_percentile" ng-model="call_d_percentile" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">kth Percentile Value (Night)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="call_n_percentile" ng-model="call_n_percentile" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Default Percentile Value (Day)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="call_d_per_def" ng-model="call_d_per_def" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Default Percentile Value (Night)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="call_n_per_def" ng-model="call_n_per_def" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                            </div>

                            <div class="subHeader">
                                <h6>Overall Weight</h6>
                            </div>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">CT Overall Weight Value</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="call_wt" ng-model="call_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                            </div>


                        </div>
                </article>
            </div>

            <div class="row">
                <article class="col-sm-12">
                    <div jarvis-widget data-widget-color="teal" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #af64cc; color: white"
                            <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                            <h2>Weather Parameters </h2>
                        </header>
                        <div class="smart-form">
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">kth Percentile Value (Day)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="weather_d_percentile" ng-model="weather_d_percentile" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">kth Percentile Value (Night)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="weather_n_percentile" ng-model="weather_n_percentile" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Default Percentile Value (Day)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="weather_d_per_def" ng-model="weather_d_per_def" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Default Percentile Value (Night)</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="weather_n_per_def" ng-model="weather_n_per_def" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                            </div>

                            <div class="subHeader">
                                <h6>Overall Weight</h6>
                            </div>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Weather Overall Weight Value</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-ban"></i>
                                        <input type="number" class="form-control" name="weather_wt" ng-model="weather_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                            </div>


                        </div>


                    </div>
                </article>
            </div>

            <div class="row">
                <article class="col-sm-12">
                    <div jarvis-widget data-widget-color="teal" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #009688; color: white">
                            <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                            <h2>Age Parameters</h2>
                        </header>
                        <div class="smart-form">
                            <div class="subHeader">
                                <h6>Age Range (like 0-10)</h6>
                            </div>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Criteria 1</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-user"></i>
                                        <input type="text" class="form-control" name="age_criteria1" ng-model="age_criteria1" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Criteria 2</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-user"></i>
                                        <input type="text" class="form-control" name="age_criteria2" ng-model="age_criteria2" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Criteria 3</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-user"></i>
                                        <input type="text" class="form-control" name="age_criteria3" ng-model="age_criteria3" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Criteria 4</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-user"></i>
                                        <input type="text" class="form-control" name="age_criteria4" ng-model="age_criteria4" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                            </div>

                            <div class="subHeader">
                                <h6>Age Range Weight</h6>
                            </div>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Criteria 1 Wt </label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-user"></i>
                                        <input type="number" class="form-control" name="age_criteria1_wt" ng-model="age_criteria1_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Criteria 2 Wt</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-user"></i>
                                        <input type="number" class="form-control" name="age_criteria2_wt" ng-model="age_criteria2_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Criteria 3 Wt</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-user"></i>
                                        <input type="number" class="form-control" name="age_criteria3_wt" ng-model="age_criteria3_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Criteria 4 Wt</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-user"></i>
                                        <input type="number" class="form-control" name="age_criteria4_wt" ng-model="age_criteria4_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                            </div>
                            <div class="subHeader">
                                <h6>Overall Weight</h6>
                            </div>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Age Overall Weight Value</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-user"></i>
                                        <input type="number" placeholder="age_overall_wt" class="form-control" name="age_overall_wt" ng-model="age_overall_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                            </div>


                        </div>
                </article>
            </div>

            <div class="row">
                <article class="col-sm-12">
                    <div jarvis-widget data-widget-color="teal" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #af64cc; color: white"
                            <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                            <h2>Gender Parameters</h2>
                        </header>
                        <div class="smart-form">
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Male Wt</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-male"></i>
                                        <input type="number" class="form-control" name="gender_male_wt" ng-model="gender_male_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Female Wt</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-male"></i>
                                        <input type="number" class="form-control" name="gender_female_wt" ng-model="gender_female_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Other Wt</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-male"></i>
                                        <input type="number" class="form-control" name="gender_other_wt" ng-model="gender_other_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Overall Wt</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-male"></i>
                                        <input type="number" class="form-control" name="gender_overall_wt" ng-model="gender_overall_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                            </div>
                        </div>
                </article>
            </div>

            <div class="row">
                <article class="col-sm-12">
                    <div jarvis-widget data-widget-color="teal" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #009688; color: white">
                            <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                            <h2>Car Color Parameters</h2>
                        </header>
                        <div class="smart-form">
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Red Wt</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-car"></i>
                                        <input type="number" class="form-control" name="car_red_wt" ng-model="car_red_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Black Wt</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-car"></i>
                                        <input type="number" class="form-control" name="car_black_wt" ng-model="car_black_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">White Wt</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-car"></i>
                                        <input type="number" class="form-control" name="car_white_wt" ng-model="car_white_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Metallic Dark Wt</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-car"></i>
                                        <input type="number" class="form-control" name="car_metallic_dark_wt" ng-model="car_metallic_dark_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Metallic Light Wt</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-car"></i>
                                        <input type="number" class="form-control" name="car_metallic_light_wt" ng-model="car_metallic_light_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>

                                <section class="col col-3">
                                    <label class="label">Other Dark Wt</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-car"></i>
                                        <input type="number" class="form-control" name="car_darkother_wt" ng-model="car_darkother_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>

                                <section class="col col-3">
                                    <label class="label">Other Light Wt</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-car"></i>
                                        <input type="number" class="form-control" name="car_lightother_wt" ng-model="car_lightother_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>

                            </div>
                            <div class="subHeader">
                                <h6>Overall Weight</h6>
                            </div>
                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Color Overall Weight Value</label>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-car"></i>
                                        <input type="number" class="form-control" name="car_overall_wt" ng-model="car_overall_wt" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                            </div>

                        </div>
                </article>
            </div>

            <div class="row">
                <fieldset style="border-bottom: 0px!important;">
                    <footer class="pull-right">
                        <div class="col-sm-12">
                            <button class="btn btn-primary" ng-disabled="detailForm.$invalid" ng-click="SaveConfigSettingRecord()" ng-show="editMode">
                                <i class="fa fa-save"></i> {{btnSaveText}}
                            </button>

                            <button class="btn btn-warning" ng-show="deleteMode" ng-click="deleteConfigSetting()">
                                <i class="fa fa-remove"></i> Delete
                            </button>

                            <button class="btn btn-warning" ng-click="finalCancelConfigSettingRecord()">
                                <i class="fa fa-remove"></i> Cancel
                            </button>

                        </div>
                    </footer>
                </fieldset>
            </div>

        </form>

    </section>
</div>




