﻿<div id="content">

    <section widget-grid id="widget-grid">
        <div style="margin-left:15px; margin-right: 15px">
            
            <div class="row">
                <big-breadcrumbs items="['Daily Analysis']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
                <div smart-include="app/layout/partials/sub-header.tpl.html"></div>

            </div>


            <div class="row">

                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #5bc0dc; color: white">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Grid Data</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <table bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <thead>

                                        <tr>

                                            <th style="background-color: #ea9828 !important">Vehicle No</th>
                                            <th data-class="expand" style="background-color: #ea9828 !important">DateTime</th>
                                            <!--    <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Location</th>-->
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Latitude</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Longitude</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Speed(km/h)</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Distance</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Can Distance</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">RPM</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Temperature</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>12563</td>
                                            <td>12-02-2017</td>
                                            <td>1225</td>
                                            <td>1225</td>
                                            <td>20</td>
                                            <td>522</td>
                                            <td>150</td>
                                            <td>20</td>
                                            <td>15</td>

                                        </tr>
                                        <tr>
                                            <td>12563</td>
                                            <td>12-02-2017</td>
                                            <td>1225</td>
                                            <td>1225</td>
                                            <td>20</td>
                                            <td>522</td>
                                            <td>150</td>
                                            <td>20</td>
                                            <td>15</td>

                                        </tr>
                                        <tr>
                                            <td>12563</td>
                                            <td>12-02-2017</td>
                                            <td>1225</td>
                                            <td>1225</td>
                                            <td>20</td>
                                            <td>522</td>
                                            <td>150</td>
                                            <td>20</td>
                                            <td>15</td>

                                        </tr>
                                        <tr>
                                            <td>12563</td>
                                            <td>12-02-2017</td>
                                            <td>1225</td>
                                            <td>1225</td>
                                            <td>20</td>
                                            <td>522</td>
                                            <td>150</td>
                                            <td>20</td>
                                            <td>15</td>

                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </article>

                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #af64cc; color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Graph </h2>
                        </header>
                        <div id="chartdiv1"></div>
                    </div>
                </article>

                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #5bc0dc; color: white">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Grid Data</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <table bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <thead>

                                        <tr>

                                            <th style="background-color: #ea9828 !important">Vehicle No</th>
                                            <th data-class="expand" style="background-color: #ea9828 !important">DateTime</th>
                                            <!--    <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Location</th>-->
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Latitude</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Longitude</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Speed(km/h)</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Distance</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Can Distance</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">RPM</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Temperature</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>12563</td>
                                            <td>12-02-2017</td>
                                            <td>1225</td>
                                            <td>1225</td>
                                            <td>20</td>
                                            <td>522</td>
                                            <td>150</td>
                                            <td>20</td>
                                            <td>15</td>

                                        </tr>
                                        <tr>
                                            <td>12563</td>
                                            <td>12-02-2017</td>
                                            <td>1225</td>
                                            <td>1225</td>
                                            <td>20</td>
                                            <td>522</td>
                                            <td>150</td>
                                            <td>20</td>
                                            <td>15</td>

                                        </tr>
                                        <tr>
                                            <td>12563</td>
                                            <td>12-02-2017</td>
                                            <td>1225</td>
                                            <td>1225</td>
                                            <td>20</td>
                                            <td>522</td>
                                            <td>150</td>
                                            <td>20</td>
                                            <td>15</td>

                                        </tr>
                                        <tr>
                                            <td>12563</td>
                                            <td>12-02-2017</td>
                                            <td>1225</td>
                                            <td>1225</td>
                                            <td>20</td>
                                            <td>522</td>
                                            <td>150</td>
                                            <td>20</td>
                                            <td>15</td>

                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </article>

                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #5bc0dc; color: white">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Fault code</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <table bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control pplaceholder" placeholder="Vehicle No" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control pplaceholder" placeholder="DateTime" />
                                            </th>
                                            <!--<th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Location" />
                                        </th>-->
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control pplaceholder" placeholder="Latitude" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control pplaceholder" placeholder="Longitude" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control pplaceholder" placeholder="Speed" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control pplaceholder" placeholder="Distance" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control pplaceholder" placeholder="Can Distance" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control pplaceholder" placeholder="RPM" />
                                            </th>
                                            <th class="hasinput" style="width:5%">
                                                <input type="text" class="form-control pplaceholder" placeholder="Temperature" />
                                            </th>

                                        </tr>
                                        <tr>

                                            <th style="background-color: #ea9828 !important">Vehicle No</th>
                                            <th data-class="expand" style="background-color: #ea9828 !important">DateTime</th>
                                            <!--    <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Location</th>-->
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Latitude</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Longitude</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Speed(km/h)</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Distance</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Can Distance</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">RPM</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Temperature</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>12563</td>
                                            <td>12-02-2017</td>
                                            <td>1225</td>
                                            <td>1225</td>
                                            <td>20</td>
                                            <td>522</td>
                                            <td>150</td>
                                            <td>20</td>
                                            <td>15</td>

                                        </tr>
                                        <tr>
                                            <td>12563</td>
                                            <td>12-02-2017</td>
                                            <td>1225</td>
                                            <td>1225</td>
                                            <td>20</td>
                                            <td>522</td>
                                            <td>150</td>
                                            <td>20</td>
                                            <td>15</td>

                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </article>


            </div>
            </div>
</section>


</div>


<style>
    #chartdiv1 {
        width: 100%;
        height: 300px;
    }
</style>

<script>
    var chart = AmCharts.makeChart("chartdiv1", {
        "type": "serial",
        "theme": "light",
        "marginRight": 70,
        "dataProvider": [{
            "country": "USA",
            "visits": 3025,
            "color": "#FF0F00"
        }, {
            "country": "China",
            "visits": 1882,
            "color": "#FF6600"
        }, {
            "country": "Japan",
            "visits": 1809,
            "color": "#FF9E01"
        }, {
            "country": "Germany",
            "visits": 1322,
            "color": "#FCD202"
        }, {
            "country": "UK",
            "visits": 1122,
            "color": "#F8FF01"
        }, {
            "country": "France",
            "visits": 1114,
            "color": "#B0DE09"
        }, {
            "country": "India",
            "visits": 984,
            "color": "#04D215"
        }, {
            "country": "Spain",
            "visits": 711,
            "color": "#0D8ECF"
        }, {
            "country": "Netherlands",
            "visits": 665,
            "color": "#0D52D1"
        }, {
            "country": "Russia",
            "visits": 580,
            "color": "#2A0CD0"
        }, {
            "country": "South Korea",
            "visits": 443,
            "color": "#8A0CCF"
        }, {
            "country": "Canada",
            "visits": 441,
            "color": "#CD0D74"
        }],
        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left",
            "title": "Visitors from country"
        }],
        "startDuration": 1,
        "graphs": [{
            "balloonText": "<b>[[category]]: [[value]]</b>",
            "fillColorsField": "color",
            "fillAlphas": 0.9,
            "lineAlpha": 0.2,
            "type": "column",
            "valueField": "visits"
        }],
        "chartCursor": {
            "categoryBalloonEnabled": false,
            "cursorAlpha": 0,
            "zoomable": false
        },
        "categoryField": "country",
        "categoryAxis": {
            "gridPosition": "start",
            "labelRotation": 45
        },
        "export": {
            "enabled": true
        }

    });
</script>