<!-- MAIN CONTENT -->
<div id="content" class="myCompetation">
    <div class="row">
        <big-breadcrumbs items="['My Competition']" icon="table"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Send Invitation </h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col col-12">
                            <label>TO</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">
                            <!--<label class="textarea">-->
                            <textarea name="emailid" style="width:100%" ng-model="emailto" />
                            <!--</label>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-12">
                            <label>Cc </label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col col-12">
                            <!--<label class="textarea">-->
                            <textarea name="emailidCc" style="width:100%" ng-model="emailidCc" />
                            <!--</label>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-12">
                            <label>Subject </label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col col-12">
                            <!--<label class="textarea">-->
                            <textarea name="subject" style="width:100%" ng-model="subject" />
                            <!--</label>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-12">
                            <label>Body </label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col col-12">
                            <!--<label class="textarea">-->
                            <textarea rows="4" name="body" style="width:100%" ng-model="Emailbody"></textarea>
                            <!--</label>-->
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="sendInvite();" data-dismiss="modal">Send</button>
                </div>
            </div>

        </div>
    </div>
    <!-- widget grid -->
    <section widget-grid id="widget-grid">


        <div class="row">
            <article class="col-sm-12">




                <!--<div jarvis-widget id="column-filter-datatable-widget" data-widget-color="blueDark" data-widget-editbutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                            <h2>Private Competition </h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                            <table class="table table-striped table-bordered" width="100%">

                            <thead>

                            <tr>
                                <th> </th>
                                <th>Competition Name</th>
                                <th data-class="expand">Days</th>
                                <th data-hide="phone">Kms</th>
                                <th data-hide="phone">Score</th>
                                <th data-hide="phone,tablet">Rank</th>
                                <th> </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>
                                    <img src="styles/img/crawifi.png" alt="img" class="compcar">
                                </td>
                                <td>
                                    <span class="compname"><a data-ui-sref="app.usercompetition.userratingandranking"> Competition 1</a></span>
                                </td>
                                <td>10</td>
                                <td>3000</td>
                                <td>27</td>
                                <td>1</td>
                                <td><button type="button" class="btn btn-primary">Invite</button></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="styles/img/crawifi.png" alt="img" class="compcar">
                                </td>
                                <td>
                                    <span class="compname"><a data-ui-sref="app.usercompetition.userratingandranking"> Competition 2</a></span>
                                </td>
                                <td>10</td>
                                <td>3000</td>
                                <td>35</td>
                                <td>0</td>
                                <td><button type="button" class="btn btn-primary">Invite</button></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="styles/img/crawifi.png" alt="img" class="compcar">
                                </td>
                                <td>
                                    <span class="compname"><a data-ui-sref="app.usercompetition.userratingandranking"> Competition 3</a></span>
                                </td>
                                <td>10</td>
                                <td>3000</td>
                                <td>19</td>
                                <td>9</td>
                                <td><button type="button" class="btn btn-primary">Invite</button></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="styles/img/crawifi.png" alt="img" class="compcar">
                                </td>
                                <td>
                                    <span class="compname"><a data-ui-sref="app.usercompetition.userratingandranking"> Competition 4</a></span>
                                </td>
                                <td>10</td>
                                <td>3000</td>
                                <td>27</td>
                                <td>6</td>
                                <td><button type="button" class="btn btn-primary">Invite</button></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="styles/img/crawifi.png" alt="img" class="compcar">
                                </td>
                                <td>
                                    <span class="compname"><a data-ui-sref="app.usercompetition.userratingandranking">Competition 5</a></span>
                                </td>
                                <td>10</td>
                                <td>3000</td>
                                <td>50</td>
                                <td>8</td>
                                <td><button type="button" class="btn btn-primary">Invite</button></td>
                            </tr>

                            </tbody>

                            </table>
                            </div>
                        </div>
                    </div>


                <div jarvis-widget id="hide-show-columns-table-widget" data-widget-color="blueDark" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-paw"></i> </span>
                        <h2>Public Competition</h2>
                    </header>
                    <div>
                            <div class="widget-body no-padding">
                                <table class="table table-striped table-bordered" width="100%">

                                    <thead>

                                        <tr>
                                            <th> </th>
                                            <th>Competition Name</th>
                                            <th data-class="expand">Days</th>
                                            <th data-hide="phone">Kms</th>
                                            <th data-hide="phone">Score</th>
                                            <th data-hide="phone,tablet">Rank</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="styles/img/crawifi.png" alt="img" class="compcar">
                                            </td>
                                            <td>
                                                <span class="compname"><a data-ui-sref="app.usercompetition.userratingandranking"> Competition 1</a></span>
                                            </td>
                                            <td>10</td>
                                            <td>3000</td>
                                            <td>27</td>
                                            <td>1</td>
                                            <td><button type="button" class="btn btn-primary" >Invite</button></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="styles/img/crawifi.png" alt="img" class="compcar">
                                            </td>
                                            <td>
                                                <span class="compname"><a data-ui-sref="app.usercompetition.userratingandranking"> Competition 2</a></span>
                                            </td>
                                            <td>10</td>
                                            <td>3000</td>
                                            <td>35</td>
                                            <td>0</td>
                                            <td><button type="button" class="btn btn-primary">Invite</button></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="styles/img/crawifi.png" alt="img" class="compcar">
                                            </td>
                                            <td>
                                                <span class="compname"><a data-ui-sref="app.usercompetition.userratingandranking"> Competition 3</a></span>
                                            </td>
                                            <td>10</td>
                                            <td>3000</td>
                                            <td>19</td>
                                            <td>9</td>
                                            <td><button type="button" class="btn btn-primary">Invite</button></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="styles/img/crawifi.png" alt="img" class="compcar">
                                            </td>
                                            <td>
                                                <span class="compname"><a data-ui-sref="app.usercompetition.userratingandranking"> Competition 4</a></span>
                                            </td>
                                            <td>10</td>
                                            <td>3000</td>
                                            <td>27</td>
                                            <td>6</td>
                                            <td><button type="button" class="btn btn-primary">Invite</button></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="styles/img/crawifi.png" alt="img" class="compcar">
                                            </td>
                                            <td>
                                                <span class="compname"><a data-ui-sref="app.usercompetition.userratingandranking"> Competition 5</a></span>
                                            </td>
                                            <td>10</td>
                                            <td>3000</td>
                                            <td>50</td>
                                            <td>8</td>
                                            <td><button type="button" class="btn btn-primary">Invite</button></td>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                </div>-->



                <div jarvis-widget id="column-filter-datatable-widget" data-widget-color="blueDark" data-widget-editbutton="false">
                    <header style="background-color: #5bc0dc; color: #fff;">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Private Competition </h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <table datatable-basic tablebind="privatetablebind" bind-filters="true"
                                   class="display projects-table table table-striped table-bordered table-hover"
                                   cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th> </th>
                                        <th>Competition Name</th>
                                        <!--<th data-class="expand">Days</th>-->
                                        <th data-hide="phone">Kms</th>
                                        <th data-hide="phone">Score</th>
                                        <th data-hide="phone,tablet">Rank</th>
                                        <th> </th>

                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

                <div jarvis-widget id="hide-show-columns-table-widget" data-widget-color="blueDark" data-widget-editbutton="false">
                    <header style="background-color: #5bc0dc; color: #fff;">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Public Competition</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">



                            <table datatable-basic tablebind="publictablebind" bind-filters="true"
                                   class="display projects-table table table-striped table-bordered table-hover"
                                   cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th> </th>
                                        <th>Competition Name</th>
                                        <!--<th data-class="expand">Days</th>-->
                                        <th data-hide="phone">Kms</th>
                                        <th data-hide="phone">Score</th>
                                        <th data-hide="phone,tablet">Rank</th>
                                        <th> </th>

                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

            </article>


        </div>

    </section>
</div>
