<!-- MAIN CONTENT -->
<div id="content" class="createCompitition">

    <div class="row">
        <big-breadcrumbs items="['Join User Rating and Ranking']" icon="table"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
    </div>
    <!-- widget grid -->
    <section widget-grid id="widget-grid">

        <!--  Create Competitions code start from here -->
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Prize List:</h4>
            </div>
            <div class="modal-body">
                <h4>First Prize:{{prize_desc1}}</h4>
                <h4>First Prize:{{prize_desc2}}</h4>
                <h4>First Prize:{{prize_desc3}}</h4>


            </div>

        </div>

    </div>
</div>
<div id="content">
    <!--<div jarvis-widget id="column-filter-datatable-widget" data-widget-color="blueDark" data-widget-editbutton="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
            <h2>Join User Rating and Ranking  </h2>
            <span  style="float:right;margin-top:-5px">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Prize</button>
            </span>
        </header>
        <div>

            <div class="widget-body no-padding">

                <table class="table table-striped table-bordered" width="100%">

                    <thead>
                        <tr>
                            <th></th>
                            <th>User Name</th>
                            <th data-hide="phone">Score</th>
                            <th data-hide="phone">Total Kms</th>
                            <th data-hide="phone,tablet">Days</th>
                        </tr>
                    </thead>

                    <tbody>


                    </tbody>

                </table>
            </div>
        </div>
    </div>-->

    <div jarvis-widget id="column-filter-datatable-widget" data-widget-color="blueDark" data-widget-editbutton="false">
        <header style="background-color: #5bc0dc; color: #fff;">
            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
            <h2>Join User Rating and Ranking  </h2>
            <!--<span style="float:right;margin-top:-5px">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Prize</button>
            </span>-->
        </header>
        <div>
            <div class="widget-body no-padding">
                <table datatable-basic tablebind="tablebind" bind-filters="true"
                       class="display projects-table table table-striped table-bordered table-hover"
                       cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>User Name</th>
                            <th data-hide="phone">Score</th>
                            <th data-hide="phone">Total Kms</th>
                            <th data-hide="phone,tablet">Days</th>

                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!--  Create Competitions code end here -->
</section>
</div>



