
<div id="SomeParameterDataId" data-jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" >

    <!--<div id="SomeParameterDataId" data-jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false">-->
    <header>
        <span class="widget-icon"> <i class="fa fa-list"></i> </span>
        <h2>Other Parameters</h2>
    </header>

    <div class="row">

        <div class="show-stat-microcharts" >
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <ng-gauge size="60" type="arch" thick="5" used="chartModel.Speed.Speed" total="chartModel.Speed.maxvalue" cap=" round" label="" foreground-color="#a57225" background-color="rgba(255,255,255, 0.4)" append="(KM/H)"></ng-gauge>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <span class="easy-pie-title "> Speed (KM/H) </span>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <ul class="smaller-stat hidden-sm  hidden-xs pull-right">
                            <li>
                                <span class="label bg-color-greenLight"><i class="fa fa-caret-up"></i>255</span>
                            </li>
                            <li>
                                <span class="label bg-color-blueLight"><i class="fa fa-caret-down"></i>0</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <ng-gauge size="60" type="arch" thick="5" used="chartModel.Rpm.Rpm" total="chartModel.Rpm.maxvalue" cap=" round" label="" foreground-color="#71843f" background-color="rgba(255,255,255, 0.4)" append="RPM"></ng-gauge>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <span class="easy-pie-title"> Engine RPM </span>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <ul class="smaller-stat hidden-sm hidden-xs pull-right">
                            <li>
                                <span class="label bg-color-greenLight"><i class="fa fa-caret-up"></i>16383.75</span>
                            </li>
                            <li>
                                <span class="label bg-color-blueLight"><i class="fa fa-caret-down"></i>0</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <ng-gauge size="60" type="arch" thick="5" used="chartModel.Fuellevel.Fuellevel" total="chartModel.Fuellevel.maxvalue" cap=" round" label="" foreground-color="#57889c" background-color="rgba(255,255,255, 0.4)" append="(%)"></ng-gauge>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <span class="easy-pie-title"> Fuel Level </span>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <ul class="smaller-stat hidden-sm hidden-xs pull-right">
                            <li>
                                <span class="label bg-color-darken">100</span>
                            </li>
                            <li>
                                <span class="label bg-color-blueDark"><i class="fa fa-caret-up"></i> 0</span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <ng-gauge size="60" type="arch" thick="5" used="chartModel.CoolantTemp.CoolantTemp" total="chartModel.CoolantTemp.maxvalue" cap=" round" label="" foreground-color="#404040" background-color="rgba(255,255,255, 0.4)" append="(C)"></ng-gauge>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <span class="easy-pie-title">
                            Engine Temp </i>
                        </span>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <ul class="smaller-stat hidden-sm hidden-xs pull-right">
                            <li>
                                <span class="label bg-color-red"><i class="fa fa-caret-up"></i>215</span>
                            </li>
                            <li>
                                <span class="label bg-color-blue"><i class="fa fa-caret-down"></i>-40</span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
