﻿<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">

            <big-breadcrumbs items="['Map All Vechile']" class="col-xs-12 col-sm-7 col-md-7 col-lg-8"></big-breadcrumbs>

        </div>
        

        
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!--<div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false"  data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #5bc0dc; color: white">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Map View </h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="row smart-form">
                                <div class="row">
                                    <section class="col col-3">
                                        <span class="demo-liveupdate-1">
                                            <span class="onoffswitch-title">Over Speed :</span> <span class="onoffswitch">
                                                <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="start_interval">
                                                <label class="onoffswitch-label" for="start_interval">
                                                    <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </span>
                                        </span>
                                    </section>
                                    <section class="col col-3">
                                        <span class="demo-liveupdate-1">
                                            <span class="onoffswitch-title">Harsh Breaking :</span> <span class="onoffswitch">
                                                <input type="checkbox" name="start_interval2" class="onoffswitch-checkbox" id="start_interval2">
                                                <label class="onoffswitch-label" for="start_interval2">
                                                    <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </span>
                                        </span>
                                    </section>
                                    <section class="col col-3">
                                        <span class="demo-liveupdate-1">
                                            <span class="onoffswitch-title">Moving :</span> <span class="onoffswitch">
                                                <input type="checkbox" name="start_interval3" class="onoffswitch-checkbox" id="start_interval3">
                                                <label class="onoffswitch-label" for="start_interval3">
                                                    <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </span>
                                        </span>
                                    </section>
                                    <section class="col col-3">
                                        <span class="demo-liveupdate-1">
                                            <span class="onoffswitch-title">Parked :</span> <span class="onoffswitch">
                                                <input type="checkbox" name="start_interval4" class="onoffswitch-checkbox" id="start_interval4">
                                                <label class="onoffswitch-label" for="start_interval4">
                                                    <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </span>
                                        </span>
                                    </section>
                                </div>
                            </div>
                        </div>

                        <div class="widget-body no-padding">
                            <div class="row smart-form">
                                <div class="row">
                                    <section class="col col-3">
                                        <span class="demo-liveupdate-1">
                                            <span class="onoffswitch-title">Un-Reachable :</span> <span class="onoffswitch">
                                                <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="start_interval5">
                                                <label class="onoffswitch-label" for="start_interval5">
                                                    <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </span>
                                        </span>
                                    </section>
                                    <section class="col col-3">
                                        <span class="demo-liveupdate-1">
                                            <span class="onoffswitch-title">Temper Alert :</span> <span class="onoffswitch">
                                                <input type="checkbox" name="start_interval6" class="onoffswitch-checkbox" id="start_interval6">
                                                <label class="onoffswitch-label" for="start_interval6">
                                                    <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </span>
                                        </span>
                                    </section>

                                </div>
                            </div>
                        </div>

                    </div>
                   
                </div>-->


               <div class="row" style=" padding-bottom: 20px;">

                    <div class=" col-lg-3 col-md-6 col-sm-12">
                        <div class="widget bg-primary">
                            <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: rgba(0, 0, 0, 0.1);">
                                    <i class="fa fa-wrench fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center">
                                    <h2 class="livescore">2300</h2>
                                    <div class="text-uppercase">Harsh Breaking </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #26A69A !important; ">
                            <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #22958a; ">
                                    <i class="fa fa-user fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">1200</h2>
                                    <div class="text-uppercase">Over Speed </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #ea9828 !important; ">
                            <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #d28924; ">
                                    <i class="fa fa-cloud-upload fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">300</h2>
                                    <div class="text-uppercase">Cornering</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #666 !important; ">
                            <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #5c5c5c;">
                                    <i class="fa fa-phone fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">1200</h2>
                                    <div class="text-uppercase">Calls Taken </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #d5503f !important; ">
                            <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #bf4839;">
                                    <i class="fa fa-cogs fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">2602</h2>
                                    <div class="text-uppercase">Harsh Accel.</div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </article>

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #428bca; color: white">
                        <div class="widget-toolbar" id="switch-1" role="menu">
                            <span class="onoffswitch-title"><i class="fa fa-refresh"></i> Auto Refresh</span>
                            <span class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </span>
                        </div>
                         <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
                        <h2>Map View </h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="row smart-form">
                                    <article class="col-sm-12">
                                        <div style="width: 100%; height: 100%">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d121059.0344739699!2d73.86296739999999!3d18.52461645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1498467674930" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                                        </div>
                                    </article>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>

    </section>
  </div>
