﻿
<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <big-breadcrumbs items="['Trip Playback']" class="col-xs-12 col-sm-7 col-md-7 col-lg-8"></big-breadcrumbs>
            <div>
                <a href="http://www.animatedimages.org/cat-cars-67.htm"><img src="http://www.animatedimages.org/data/media/67/animated-car-image-0150.gif" border="0" alt="animated-car-image-0150" /></a>
            </div>
        </div>
        
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="row" style=" padding-bottom: 20px;">

                    <div class=" col-lg-3 col-md-6 col-sm-12">
                        <div class="widget bg-primary">
                            <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: rgba(0, 0, 0, 0.1);">
                                    <i class="fa fa-wrench fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center">
                                    <h2 class="livescore">2300</h2>
                                    <div class="text-uppercase">Harsh Breaking </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #26A69A !important; ">
                            <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #22958a; ">
                                    <i class="fa fa-user fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">1200</h2>
                                    <div class="text-uppercase">Over Speed </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #ea9828 !important; ">
                            <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #d28924; ">
                                    <i class="fa fa-cloud-upload fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">300</h2>
                                    <div class="text-uppercase">Cornering</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #666 !important; ">
                            <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #5c5c5c;">
                                    <i class="fa fa-phone fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">1200</h2>
                                    <div class="text-uppercase">Calls Taken </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #d5503f !important; ">
                            <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #bf4839;">
                                    <i class="fa fa-cogs fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">2602</h2>
                                    <div class="text-uppercase">Harsh Accel.</div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
              
            </article>

            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false"  data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color:#5bc0dc; ">
                        <div class="widget-toolbar" id="switch-1" role="menu">
                            <span class="onoffswitch-title"><i class="fa fa-refresh"></i> Auto Refresh</span>
                            <span class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </span>
                        </div>
                        <span class="widget-icon"> <i class="fa fa-search"></i> </span>
                        <h2>Search </h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">

                            <div class="row smart-form">
                                <article class="col-sm-12">
                                    <fieldset>
                                        <form name="detailForm" novalidate="novalidate">
                                            <section class="col col-2">
                                                <label class="label">Vehicle Number</label>
                                                <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                    <input type="text" name="VechicleNo" class="form-control" list="list" placeholder="Vechicle No" required>
                                                </label>
                                            </section>

                                            <section class="col col-2">
                                                <label class="label">Start Date</label>
                                                <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                    <i class="icon-append fa fa-calendar" style="color:orange"></i>
                                                    <input type="text" name="VechicleNo" class="form-control" list="list" placeholder="Start Date" required>
                                                </label>
                                            </section>

                                            <section class="col col-2">
                                                <label class="label">End Date</label>
                                                <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                    <i class="icon-append fa fa-calendar" style="color:orange"></i>
                                                    <input type="text" name="VechicleNo" class="form-control" list="list" placeholder="End Date" required>
                                                </label>
                                            </section>

                                            <section class="col col-2">
                                                <label class="label">Find Trip</label>
                                                <label class="select" style="border: 1px  #000; border-radius: 2px">
                                                    <select>
                                                        <option>Express Way</option>
                                                        <option>City Map</option>
                                                    </select><i></i>

                                                </label>
                                            </section>

                                            <section class="col col-4">
                                                <label class="label">.</label>
                                                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-play" aria-hidden="true"></i> Play</button>
                                                <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-pause" aria-hidden="true"></i> Stop</button>
                                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-stop" aria-hidden="true"></i> Stop</button>
                                            </section>

                                           
                                        </form>
                                    </fieldset>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            



            <article class="col-sm-12 col-md-12 col-lg-12 speedmeter">
                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #f0ad4e; color: white">
                        <span class="widget-icon"> <i class="fa fa-tachometer"></i> </span>
                        <h2>Speed Mater </h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="row smart-form">
                                <section class="col col-2 padding-left-right0 margin-bottom0">
                                    <div>
                                        <div id="chartdiv6"></div>
                                    </div>
                                </section>
                                <section class="col col-4 margin-bottom0">
                                    <div>
                                        <div id="chartdiv4"></div>
                                    </div>
                                </section>
                                <section class="col col-4 margin-bottom0">
                                    <div>
                                        <div id="chartdiv2"></div>
                                    </div>
                                </section>
                                <section class="col col-2 padding-left-right0 margin-bottom0">
                                    <div>
                                        <div id="chartdiv8"></div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </article>



			<article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #428bca; color: white">
                            <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
                            <h2>Map View </h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">

                                <div class="row smart-form">
                                    <article class="col-sm-12">
                                        <div style="width: 100%; height: 100%">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d121059.0344739699!2d73.86296739999999!3d18.52461645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1498467674930" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
            </article>

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false"  data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #5bc0dc; color: white">
                        <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                        <h2>Driver Score </h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="row smart-form">
                                <article class="col-sm-12">
                                    <div id="chartdiv"></div>
                                </article>
                            </div>

                        </div>
                    </div>
                </div>
            </article>

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false"  data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #f0ad4e; color: white">
                        <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                        <h2>Speed Mater </h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">

                            <div class="row smart-form">
                                <article class="col-sm-12">
                                    <section class="col col-6">
                                        <div>
                                            <div class="widget-body">
                                                <canvas chartjs-radar-chart height="120"></canvas>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="col col-6">
                                        <div>
                                            <div class="widget-body">
                                                <canvas chartjs-bar-chart height="120"></canvas>
                                            </div>
                                        </div>
                                    </section>
                                </article>
                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
            </article>







            <article class="col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 75px;">
                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color:#428bca; color:white">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Vechile Data</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">

                            <table datatable-table-tools class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th data-hide="phone">ID</th>
                                        <th data-class="expand">Name</th>
                                        <th>Phone</th>
                                        <th data-hide="phone">Company</th>
                                        <th data-hide="phone,tablet">Zip</th>
                                        <th data-hide="phone,tablet">City</th>
                                        <th data-hide="phone,tablet">Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Jennifer</td>
                                        <td>1-342-463-8341</td>
                                        <td>Et Rutrum Non Associates</td>
                                        <td>35728</td>
                                        <td>Fogo</td>
                                        <td>03/04/14</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Clark</td>
                                        <td>1-516-859-1120</td>
                                        <td>Nam Ac Inc.</td>
                                        <td>7162</td>
                                        <td>Machelen</td>
                                        <td>03/23/13</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Brendan</td>
                                        <td>1-724-406-2487</td>
                                        <td>Enim Commodo Limited</td>
                                        <td>98611</td>
                                        <td>Norman</td>
                                        <td>02/13/14</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Warren</td>
                                        <td>1-412-485-9725</td>
                                        <td>Odio Etiam Institute</td>
                                        <td>10312</td>
                                        <td>Sautin</td>
                                        <td>01/01/13</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Rajah</td>
                                        <td>1-849-642-8777</td>
                                        <td>Neque Ltd</td>
                                        <td>29131</td>
                                        <td>Glovertown</td>
                                        <td>02/16/13</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Demetrius</td>
                                        <td>1-470-329-9627</td>
                                        <td>Euismod In Ltd</td>
                                        <td>1883</td>
                                        <td>Kapolei</td>
                                        <td>03/15/13</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Keefe</td>
                                        <td>1-188-191-2346</td>
                                        <td>Molestie Industries</td>
                                        <td>2211BM</td>
                                        <td>Modena</td>
                                        <td>07/08/13</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>Leila</td>
                                        <td>1-663-655-8904</td>
                                        <td>Est LLC</td>
                                        <td>75286</td>
                                        <td>Hondelange</td>
                                        <td>12/09/12</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>Fritz</td>
                                        <td>1-598-234-7837</td>
                                        <td>Et Ultrices Posuere Institute</td>
                                        <td>2324</td>
                                        <td>Monte San Pietrangeli</td>
                                        <td>12/29/12</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>Cassady</td>
                                        <td>1-212-965-8381</td>
                                        <td>Vitae Erat Vel Company</td>
                                        <td>5898</td>
                                        <td>Huntly</td>
                                        <td>10/07/13</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>Rogan</td>
                                        <td>1-541-654-9030</td>
                                        <td>Iaculis Incorporated</td>
                                        <td>6464JN</td>
                                        <td>Carson City</td>
                                        <td>05/30/13</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>Candice</td>
                                        <td>1-153-708-6027</td>
                                        <td>Pellentesque Company</td>
                                        <td>8565</td>
                                        <td>Redruth</td>
                                        <td>02/25/14</td>
                                    </tr>


                                    <tr>
                                        <td>37</td>
                                        <td>Rowan</td>
                                        <td>1-782-168-2387</td>
                                        <td>Aliquet Consulting</td>
                                        <td>33000</td>
                                        <td>Papasidero</td>
                                        <td>02/06/14</td>
                                    </tr>
                                    <tr>
                                        <td>38</td>
                                        <td>Eric</td>
                                        <td>1-161-390-1140</td>
                                        <td>Odio Institute</td>
                                        <td>5652</td>
                                        <td>Moliterno</td>
                                        <td>03/14/13</td>
                                    </tr>
                                    <tr>
                                        <td>39</td>
                                        <td>Dana</td>
                                        <td>1-989-320-2205</td>
                                        <td>Bibendum Fermentum Institute</td>
                                        <td>X31 1HZ</td>
                                        <td>Saint-Pierre</td>
                                        <td>02/25/13</td>
                                    </tr>
                                    <tr>
                                        <td>40</td>
                                        <td>Karleigh</td>
                                        <td>1-218-513-8714</td>
                                        <td>Duis Volutpat Inc.</td>
                                        <td>1356</td>
                                        <td>Fresno</td>
                                        <td>06/09/14</td>
                                    </tr>

                                    <tr>
                                        <td>52</td>
                                        <td>Acton</td>
                                        <td>1-855-937-9214</td>
                                        <td>Vitae Sodales Company</td>
                                        <td>1757</td>
                                        <td>Bad Oldesloe</td>
                                        <td>04/13/13</td>
                                    </tr>
                                    <tr>
                                        <td>53</td>
                                        <td>Briar</td>
                                        <td>1-846-339-0222</td>
                                        <td>Congue Turpis In Limited</td>
                                        <td>51510</td>
                                        <td>Caerphilly</td>
                                        <td>02/06/13</td>
                                    </tr>
                                    <tr>
                                        <td>54</td>
                                        <td>Benjamin</td>
                                        <td>1-828-436-8902</td>
                                        <td>Aliquam Nec Enim Ltd</td>
                                        <td>4289GW</td>
                                        <td>Holyhead</td>
                                        <td>12/17/13</td>
                                    </tr>
                                    <tr>
                                        <td>55</td>
                                        <td>Gregory</td>
                                        <td>1-782-119-9191</td>
                                        <td>A PC</td>
                                        <td>14531</td>
                                        <td>Águas Lindas de Goiás</td>
                                        <td>04/11/14</td>
                                    </tr>
                                    <tr>
                                        <td>56</td>
                                        <td>Marny</td>
                                        <td>1-255-275-2769</td>
                                        <td>Malesuada Institute</td>
                                        <td>41706</td>
                                        <td>Montaldo Bormida</td>
                                        <td>12/19/13</td>
                                    </tr>
                                    <tr>
                                        <td>57</td>
                                        <td>Indira</td>
                                        <td>1-215-687-1488</td>
                                        <td>Augue Id Ante PC</td>
                                        <td>42010</td>
                                        <td>Lorient</td>
                                        <td>09/02/13</td>
                                    </tr>
                                    <tr>
                                        <td>58</td>
                                        <td>Fleur</td>
                                        <td>1-309-181-4794</td>
                                        <td>Libero Donec Consectetuer Corp.</td>
                                        <td>ZD4H 3NF</td>
                                        <td>Valleyview</td>
                                        <td>01/13/14</td>
                                    </tr>
                                    <tr>
                                        <td>59</td>
                                        <td>Fulton</td>
                                        <td>1-380-339-9492</td>
                                        <td>Vulputate LLP</td>
                                        <td>01154</td>
                                        <td>Blois</td>
                                        <td>04/16/13</td>
                                    </tr>
                                    <tr>
                                        <td>60</td>
                                        <td>Arsenio</td>
                                        <td>1-794-184-3132</td>
                                        <td>Nec Diam Duis Ltd</td>
                                        <td>91908</td>
                                        <td>Foligno</td>
                                        <td>05/24/13</td>
                                    </tr>
                                    <tr>
                                        <td>61</td>
                                        <td>Jaden</td>
                                        <td>1-979-292-4559</td>
                                        <td>Vestibulum Ante Industries</td>
                                        <td>2724</td>
                                        <td>Bertogne</td>
                                        <td>06/16/14</td>
                                    </tr>
                                    <tr>
                                        <td>62</td>
                                        <td>Kylie</td>
                                        <td>1-900-819-9083</td>
                                        <td>Arcu Vestibulum Ut Incorporated</td>
                                        <td>E6R 8N1</td>
                                        <td>Scandriglia</td>
                                        <td>03/19/14</td>
                                    </tr>
                                    <tr>
                                        <td>63</td>
                                        <td>Melyssa</td>
                                        <td>1-911-370-2794</td>
                                        <td>Pede Sagittis Augue Ltd</td>
                                        <td>37293</td>
                                        <td>Frauenkirchen</td>
                                        <td>08/31/13</td>
                                    </tr>
                                    <tr>
                                        <td>64</td>
                                        <td>Jerry</td>
                                        <td>1-501-422-6929</td>
                                        <td>Nonummy Ut Molestie LLP</td>
                                        <td>9024</td>
                                        <td>Nossegem</td>
                                        <td>07/22/13</td>
                                    </tr>
                                    <tr>
                                        <td>65</td>
                                        <td>Rhiannon</td>
                                        <td>1-188-451-3938</td>
                                        <td>Elit Pellentesque Consulting</td>
                                        <td>12283</td>
                                        <td>College</td>
                                        <td>08/16/14</td>
                                    </tr>
                                    <tr>
                                        <td>66</td>
                                        <td>Price</td>
                                        <td>1-769-162-9068</td>
                                        <td>Vitae Erat Vivamus Corp.</td>
                                        <td>6843</td>
                                        <td>Villata</td>
                                        <td>08/18/14</td>
                                    </tr>

                                    <tr>
                                        <td>82</td>
                                        <td>Kieran</td>
                                        <td>1-333-507-3878</td>
                                        <td>Malesuada Ut Sem Corp.</td>
                                        <td>W3C 3PM</td>
                                        <td>Croydon</td>
                                        <td>10/30/13</td>
                                    </tr>
                                    <tr>
                                        <td>83</td>
                                        <td>Alika</td>
                                        <td>1-544-422-1437</td>
                                        <td>Integer Tincidunt Company</td>
                                        <td>Xxxx</td>
                                        <td>Plymouth</td>
                                        <td>12/26/12</td>
                                    </tr>
                                    <tr>
                                        <td>84</td>
                                        <td>Shay</td>
                                        <td>1-530-583-8669</td>
                                        <td>Diam LLP</td>
                                        <td>63260</td>
                                        <td>College</td>
                                        <td>08/20/14</td>
                                    </tr>
                                    <tr>
                                        <td>85</td>
                                        <td>Cailin</td>
                                        <td>1-415-254-8139</td>
                                        <td>Placerat Eget Foundation</td>
                                        <td>L3M 4R6</td>
                                        <td>Jonqui?re</td>
                                        <td>09/12/14</td>
                                    </tr>
                                    <tr>
                                        <td>86</td>
                                        <td>Xena</td>
                                        <td>1-979-983-1456</td>
                                        <td>Tellus Eu Augue Associates</td>
                                        <td>09703-746</td>
                                        <td>Angleur</td>
                                        <td>05/21/13</td>
                                    </tr>
                                    <tr>
                                        <td>87</td>
                                        <td>Walker</td>
                                        <td>1-380-277-2755</td>
                                        <td>Sollicitudin A Malesuada Corporation</td>
                                        <td>60019</td>
                                        <td>Toronto</td>
                                        <td>06/11/14</td>
                                    </tr>
                                    <tr>
                                        <td>88</td>
                                        <td>Adena</td>
                                        <td>1-756-948-8416</td>
                                        <td>Diam Ltd</td>
                                        <td>B7T 5X7</td>
                                        <td>Stene</td>
                                        <td>05/30/14</td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </article>
        </div>


    </section>

</div>


<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/xy.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<style>
    #chartdiv {
        width: 100%;
        height: 300px;
    }

    #chartdiv1 {
        width: 100%;
        height: 300px;
    }

    #chartdiv2 {
        width: 100%;
        height: 250px;
    }

    #chartdiv4 {
        width: 100%;
        height: 250px;
    }

    #chartdiv6 {
        width: 100%;
        height: 250px;
    }

    #chartdiv8 {
        width: 100%;
        height: 250px;
    }
</style>

<script>
    var chart = AmCharts.makeChart("chartdiv", {
        "type": "xy",
        "theme": "light",
        "marginRight": 80,
        "dataDateFormat": "YYYY-MM-DD",
        "startDuration": 1.5,
        "trendLines": [],
        "balloon": {
            "adjustBorderColor": false,
            "shadowAlpha": 0,
            "fixedPosition": true
        },
        "graphs": [{
            "balloonText": "<div style='margin:5px;'><b>[[x]]</b><br>y:<b>[[y]]</b><br>value:<b>[[value]]</b></div>",
            "bullet": "diamond",
            "maxBulletSize": 25,
            "lineAlpha": 0.8,
            "lineThickness": 2,
            "lineColor": "#b0de09",
            "fillAlphas": 0,
            "xField": "date",
            "yField": "ay",
            "valueField": "aValue"
        }, {
            "balloonText": "<div style='margin:5px;'><b>[[x]]</b><br>y:<b>[[y]]</b><br>value:<b>[[value]]</b></div>",
            "bullet": "round",
            "maxBulletSize": 25,
            "lineAlpha": 0.8,
            "lineThickness": 2,
            "lineColor": "#fcd202",
            "fillAlphas": 0,
            "xField": "date",
            "yField": "by",
            "valueField": "bValue"
        }],
        "valueAxes": [{
            "id": "ValueAxis-1",
            "axisAlpha": 0
        }, {
            "id": "ValueAxis-2",
            "axisAlpha": 0,
            "position": "bottom"
        }],
        "allLabels": [],
        "titles": [],
        "dataProvider": [{
            "date": 1,
            "ay": 6.5,
            "by": 2.2,
            "aValue": 15,
            "bValue": 10
        }, {
            "date": 2,
            "ay": 12.3,
            "by": 4.9,
            "aValue": 8,
            "bValue": 3
        }, {
            "date": 3,
            "ay": 12.3,
            "by": 5.1,
            "aValue": 16,
            "bValue": 4
        }, {
            "date": 5,
            "ay": 2.9,
            "aValue": 9
        }, {
            "date": 7,
            "by": 8.3,
            "bValue": 13
        }, {
            "date": 10,
            "ay": 2.8,
            "by": 13.3,
            "aValue": 9,
            "bValue": 13
        }, {
            "date": 12,
            "ay": 3.5,
            "by": 6.1,
            "aValue": 5,
            "bValue": 2
        }, {
            "date": 13,
            "ay": 5.1,
            "aValue": 10
        }, {
            "date": 15,
            "ay": 6.7,
            "by": 10.5,
            "aValue": 3,
            "bValue": 10
        }, {
            "date": 16,
            "ay": 8,
            "by": 12.3,
            "aValue": 5,
            "bValue": 13
        }, {
            "date": 20,
            "by": 4.5,
            "bValue": 11
        }, {
            "date": 22,
            "ay": 9.7,
            "by": 15,
            "aValue": 15,
            "bValue": 10
        }, {
            "date": 23,
            "ay": 10.4,
            "by": 10.8,
            "aValue": 1,
            "bValue": 11
        }, {
            "date": 24,
            "ay": 1.7,
            "by": 19,
            "aValue": 12,
            "bValue": 3
        }],

        "export": {
            "enabled": true
        },

        "chartScrollbar": {
            "offset": 15,
            "scrollbarHeight": 5
        },

        "chartCursor": {
            "pan": true,
            "cursorAlpha": 0,
            "valueLineAlpha": 0
        }
    });

</script>


<script>
    var chart = AmCharts.makeChart("chartdiv1", {
        "theme": "light",
        "type": "gauge",
        "axes": [{
            "topTextFontSize": 20,
            "topTextYOffset": 70,
            "axisColor": "#31d6ea",
            "axisThickness": 1,
            "endValue": 100,
            "gridInside": true,
            "inside": true,
            "radius": "50%",
            "valueInterval": 10,
            "tickColor": "#67b7dc",
            "startAngle": -90,
            "endAngle": 90,
            "unit": "%",
            "bandOutlineAlpha": 0,
            "bands": [{
                "color": "#0080ff",
                "endValue": 100,
                "innerRadius": "105%",
                "radius": "170%",
                "gradientRatio": [0.5, 0, -0.5],
                "startValue": 0
            }, {
                "color": "#3cd3a3",
                "endValue": 0,
                "innerRadius": "105%",
                "radius": "170%",
                "gradientRatio": [0.5, 0, -0.5],
                "startValue": 0
            }]
        }],
        "arrows": [{
            "alpha": 1,
            "innerRadius": "35%",
            "nailRadius": 0,
            "radius": "170%"
        }]
    });

    setInterval(randomValue, 2000);

    // set random value
    function randomValue() {
        var value = Math.round(Math.random() * 100);
        chart.arrows[0].setValue(value);
        chart.axes[0].setTopText(value + " %");
        // adjust darker band to new value
        chart.axes[0].bands[1].setEndValue(value);
    }

</script>

<script>
    var gaugeChart = AmCharts.makeChart("chartdiv2", {
        "type": "gauge",
        "theme": "light",
        "axes": [{
            "axisThickness": 1,
            "axisAlpha": 0.2,
            "tickAlpha": 0.2,
            "valueInterval": 20,
            "bands": [{
                "color": "#84b761",
                "endValue": 90,
                "startValue": 0
            }, {
                "color": "#fdd400",
                "endValue": 130,
                "startValue": 90
            }, {
                "color": "#cc4748",
                "endValue": 220,
                "innerRadius": "95%",
                "startValue": 130
            }],
            "bottomText": "0 km/h",
            "bottomTextYOffset": -20,
            "endValue": 220
        }],
        "arrows": [{}],
        "export": {
            "enabled": true
        }
    });

    setInterval(randomValue, 2000);

    // set random value
    function randomValue() {
        var value = Math.round(Math.random() * 200);
        if (gaugeChart) {
            if (gaugeChart.arrows) {
                if (gaugeChart.arrows[0]) {
                    if (gaugeChart.arrows[0].setValue) {
                        gaugeChart.arrows[0].setValue(value);
                        gaugeChart.axes[0].setBottomText(value + " km/h");
                    }
                }
            }
        }
    }

</script>


<script>
    var gaugeChart = AmCharts.makeChart("chartdiv4", {
        "type": "gauge",
        "theme": "light",
        "axes": [{
            "axisThickness": 1,
            "axisAlpha": 0.2,
            "tickAlpha": 0.2,
            "valueInterval": 20,
            "bands": [{
                "color": "#84b761",
                "endValue": 80,
                "startValue": 0
            }, {
                "color": "#fdd400",
                "endValue": 120,
                "startValue": 90
            }, {
                "color": "#cc4748",
                "endValue": 220,
                "innerRadius": "95%",
                "startValue": 130
            }],
            "bottomText": "0 km/h",
            "bottomTextYOffset": -20,
            "endValue": 220
        }],
        "arrows": [{}],
        "export": {
            "enabled": true
        }
    });

    setInterval(randomValue, 2200);

    // set random value
    function randomValue() {
        var value = Math.round(Math.random() * 220);
        if (gaugeChart) {
            if (gaugeChart.arrows) {
                if (gaugeChart.arrows[0]) {
                    if (gaugeChart.arrows[0].setValue) {
                        gaugeChart.arrows[0].setValue(value);
                        gaugeChart.axes[0].setBottomText(value + " km/h");
                    }
                }
            }
        }
    }

</script>

<script>
    var gaugeChart = AmCharts.makeChart("chartdiv8", {
        "type": "gauge",
        "theme": "light",
        "axes": [{
            "axisThickness": 1,
            "axisAlpha": 0.2,
            "tickAlpha": 0.2,
            "valueInterval": 20,
            "bands": [{
                "color": "#84b761",
                "endValue": 80,
                "startValue": 0
            }, {
                "color": "#fdd400",
                "endValue": 120,
                "startValue": 90
            }, {
                "color": "#cc4748",
                "endValue": 220,
                "innerRadius": "95%",
                "startValue": 130
            }],
            "bottomText": "0 km/h",
            "bottomTextYOffset": -20,
            "endValue": 220
        }],
        "arrows": [{}],
        "export": {
            "enabled": true
        }
    });

    setInterval(randomValue, 2200);

    // set random value
    function randomValue() {
        var value = Math.round(Math.random() * 220);
        if (gaugeChart) {
            if (gaugeChart.arrows) {
                if (gaugeChart.arrows[0]) {
                    if (gaugeChart.arrows[0].setValue) {
                        gaugeChart.arrows[0].setValue(value);
                        gaugeChart.axes[0].setBottomText(value + " km/h");
                    }
                }
            }
        }
    }

</script>

<script>
    var gaugeChart = AmCharts.makeChart("chartdiv6", {
        "type": "gauge",
        "theme": "light",
        "axes": [{
            "axisThickness": 1,
            "axisAlpha": 0.2,
            "tickAlpha": 0.2,
            "valueInterval": 20,
            "bands": [{
                "color": "#84b761",
                "endValue": 90,
                "startValue": 0
            }, {
                "color": "#fdd400",
                "endValue": 130,
                "startValue": 90
            }, {
                "color": "#cc4748",
                "endValue": 220,
                "innerRadius": "95%",
                "startValue": 130
            }],
            "bottomText": "0 km/h",
            "bottomTextYOffset": -20,
            "endValue": 220
        }],
        "arrows": [{}],
        "export": {
            "enabled": true
        }
    });

    setInterval(randomValue, 2000);

    // set random value
    function randomValue() {
        var value = Math.round(Math.random() * 200);
        if (gaugeChart) {
            if (gaugeChart.arrows) {
                if (gaugeChart.arrows[0]) {
                    if (gaugeChart.arrows[0].setValue) {
                        gaugeChart.arrows[0].setValue(value);
                        gaugeChart.axes[0].setBottomText(value + " km/h");
                    }
                }
            }
        }
    }

</script>


<!--First Small Meter-->
<script>
    var chart = AmCharts.makeChart("chartdiv1", {
        "theme": "light",
        "type": "gauge",
        "axes": [{
            "axisColor": "#67b7dc",
            "axisThickness": 3,
            "endValue": 240,
            "gridInside": false,
            "inside": false,
            "radius": "100%",
            "valueInterval": 20,
            "tickColor": "#67b7dc"
        }, {
            "axisColor": "#fdd400",
            "axisThickness": 3,
            "endValue": 160,
            "radius": "80%",
            "valueInterval": 20,
            "tickColor": "#fdd400"
        }],
        "arrows": [{
            "color": "#67b7dc",
            "innerRadius": "20%",
            "nailRadius": 0,
            "radius": "85%"
        }],
        "export": {
            "enabled": true
        }
    });

    setInterval(randomValue, 2000);

    // set random value
    function randomValue() {
        var value = Math.round(Math.random() * 240);
        chart.arrows[0].setValue(value);
    }
</script>
<!--END First Small Meter-->
