﻿<!-- MAIN CONTENT -->
<div id="content">
    <section widget-grid id="widget-grid">

        <form name="myForm" role="form">
            <div class="row" style="margin-left:10px; margin-right: 10px">
                <big-breadcrumbs items="['User List']" icon="file-text-o"
                                 class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
                <div smart-include="app/layout/partials/sub-header.tpl.html"></div>


            </div>
            <div style="margin-left:15px; margin-right: 15px">
                <!--<div class="row">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                        <h2>User  {{lblheading1}}</h2>
                    </header>
                </div>-->

                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">
                        <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                            <header style="background-color: #1475bf; ">
                                <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                                <h2> Personal Details </h2>
                            </header>

                            <div class="smart-form">
                                <div class="widget-body no-padding">

                                    <article class="col-sm-12">
                                        <fieldset>
                                            <div class="row">
                                                <!--<section class="col col-6">
                                                <label class="label">User Name</label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-user"></i>
                                                    <input type="hidden" name="user_name" ng-model="user_id" ng-disabled="true">
                                                    <input type="text" name="user_name" ng-model="user_name" style="background-color: rgba(104, 104, 104, 0.17);" ng-disabled="true">
                                                    <b class="tooltip tooltip-bottom-right">Needed to enter the Username</b>

                                                 </label>
                                                 </section>-->

                                                <section class="col col-6" ng-class="{'state-error': myForm.email_id1.$invalid}">
                                                    <label class="label">Email id</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-envelope"></i>
                                                        <input type="email" name="email_id1" ng-model="email_id1" ng-disabled="(action == 'View' )?true:false" required>
                                                        <span style="color:red" ng-show="myForm.email_id1.$touched && myForm.email_id1.$invalid">
                                                            <span ng-show="myForm.email_id1.$error.required">Email is required.</span>
                                                            <span ng-show="myForm.email_id1.$error.email">Invalid email address.</span>
                                                        </span>
                                                    </label>
                                                </section>
                                                <section class="col col-6" ng-class="{'state-error': myForm.user_pwd.$invalid}" ng-hide="(action !='New' )?true:false">
                                                    <label class="label">Password</label>
                                                    <label class="input">
                                                        <!--<i class="icon-append fa fa-envelope"></i>-->
                                                        <input type="password" name="user_pwd" placeholder="" ng-model="user_pwd" ng-disabled="(action == 'View' )?true:false" required>
                                                        <span style="color:red" ng-show="myForm.user_pwd.$touched && myForm.user_pwd.$invalid">
                                                            <span ng-show="myForm.user_pwd.$error.required">Password is required.</span>

                                                        </span>
                                                    </label>
                                                </section>
                                                <!--<section class="col col-6" ng-class="{'state-error': myForm.passwordConfirm.$invalid}" ng-hide="(action !='New' )?true:false">
                                                    <label class="label">Confirm password</label>
                                                    <label class="input">

                                                        <input type="password" name="passwordConfirm" title="Enter ConfirmPassword" ng-model="passwordConfirm" ng-disabled="(action == 'View' )?true:false" compare-to="user_pwd" required>
                                                        <span style="color:red" ng-show="myForm.passwordConfirm.$touched && myForm.passwordConfirm.$invalid">
                                                            <span ng-show="myForm.passwordConfirm.$error.required">Conform password is required.</span>
                                                        </span>

                                                    </label>
                                                </section>-->
                                            </div>
                                            <div class="row">
                                                <section class="col col-6">
                                                    <label class="label">First Name</label>
                                                    <label class="input">
                                                        <input type="text" name="first_name" ng-model="first_name" ng-disabled="(action == 'View' )?true:false">

                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">Middle Name</label>
                                                    <label class="input">
                                                        <input type="text" name="middle_name" ng-model="middle_name" ng-disabled="(action == 'View' )?true:false">

                                                    </label>
                                                </section>

                                            </div>
                                            <div class="row">

                                                <section class="col col-6">
                                                    <label class="label">Last Name</label>
                                                    <label class="input">
                                                        <input type="text" name="last_name" ng-model="last_name" ng-disabled="(action == 'View' )?true:false">

                                                    </label>
                                                </section>
                                                <section class="col col-6" ng-class="{'state-error': myForm.mobileno.$invalid}">
                                                    <label class="label">Mobile No</label>
                                                    <label class="input">
                                                        <input type="text" name="mobileno" ng-model="mobileno" ng-disabled="(action == 'View')?true:false" required>
                                                        <span style="color:red" ng-show="myForm.mobileno.$touched && myForm.mobileno.$invalid">
                                                            <span ng-show="myForm.mobileno.$error.required">Mobile no is required.</span>
                                                        </span>
                                                    </label>
                                                </section>

                                            </div>

                                            <div class="row">

                                                <section class="col col-6">
                                                    <label class="label">Date of Birth</label>
                                                    <label class="input">
                                                        <!--<i class="icon-append fa fa-calendar"></i>-->
                                                        <!--  <input type="text" name="startdate" id="startdate" data-smart-datepicker data-min-restrict="#finishdate" data-date-format="dd/mm/yy HH:mm:ss" placeholder="Expected start date">-->
                                                        <input id="cmbdate_of_birth" name="cmbdate_of_birth" ng-model="date_of_birth" data-format="YYYY-MM-DD" data-template="D MMM YYYY" ng-disabled="(action == 'View' )?true:false">
                                                    </label>
                                                </section>
                                                <section class="col col-6">

                                                    <label class="label">Gender</label>


                                                    <div class="col col-2">
                                                        <label class="radio">
                                                            <input type="radio" name="gender" ng-model="gender" value="male">
                                                            <i></i> Male
                                                        </label>

                                                    </div>
                                                    <div class="col col-2">
                                                        <label class="radio">
                                                            <input type="radio" name="gender" ng-model="gender" value="female">
                                                            <i></i> Female
                                                        </label>

                                                    </div>

                                                </section>
                                            </div>


                                        </fieldset>
                                    </article>

                                </div>
                            </div>
                        </div>
                    </article>
                </div>


                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12 livetrackingmap">
                        <div jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                            <header style="background-color: #009688; color: white">
                                <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
                                <h2>Address Details</h2>
                            </header>




                            <div class="row smart-form">
                                <section class="col col-6">
                                    <label class="label">Address</label>
                                    <label class="input">
                                        <!--<i class="icon-append fa fa-calendar"></i>-->
                                        <!--  <input type="text" name="startdate" id="startdate" data-smart-datepicker data-min-restrict="#finishdate" data-date-format="dd/mm/yy HH:mm:ss" placeholder="Expected start date">-->
                                        <input type="text" id="exampleInput" name="address1" ng-model="address1" ng-disabled="(action == 'View' )?true:false" />

                                    </label>
                                </section>
                                <!--<section class="col col-6">
                                    <label class="label">Country</label>
                                    <label class="input">
                                       <input type="text" id="exampleInput" placeholder="country" name="country" ng-model="country" />
                                    </label>
                                </section>-->

                                <section class="col col-6">
                                    <label class="label">Country</label>
                                    <label class="select">
                                        <select name="country" ng-model="country" ng-disabled="(action == 'View' )?true:false">
                                            <option value="0" selected="selected" disabled="">Select country</option>
                                            <option value="Afghanistan">Afghanistan</option>
                                            <option value="Albania">Albania</option>
                                            <option value="Algeria">Algeria</option>
                                            <option value="Andorra">Andorra</option>
                                            <option value="Angola">Angola</option>
                                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                            <option value="Argentina">Argentina</option>
                                            <option value="Armenia">Armenia</option>
                                            <option value="Aruba">Aruba</option>
                                            <option value="Australia">Australia</option>
                                            <option value="Austria">Austria</option>
                                            <option value="Azerbaijan">Azerbaijan</option>
                                            <option value="Bahamas">Bahamas</option>
                                            <option value="Bahrain">Bahrain</option>
                                            <option value="Bangladesh">Bangladesh</option>
                                            <option value="Barbados">Barbados</option>
                                            <option value="Belarus">Belarus</option>
                                            <option value="Belgium">Belgium</option>
                                            <option value="Belize">Belize</option>
                                            <option value="Benin">Benin</option>
                                            <option value="Bhutan">Bhutan</option>
                                            <option value="Bolivia">Bolivia</option>
                                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                            <option value="Botswana">Botswana</option>
                                            <option value="Brazil">Brazil</option>
                                            <option value="Brunei">Brunei</option>
                                            <option value="Bulgaria">Bulgaria</option>
                                            <option value="Burkina Faso">Burkina Faso</option>
                                            <option value="Burma">Burma</option>
                                            <option value="Burundi">Burundi</option>
                                            <option value="Cambodia">Cambodia</option>
                                            <option value="Cameroon">Cameroon</option>
                                            <option value="Canada">Canada</option>
                                            <option value="Cabo Verde">Cabo Verde</option>
                                            <option value="Central African Republic">Central African Republic</option>
                                            <option value="Chad">Chad</option>
                                            <option value="Chile">Chile</option>
                                            <option value="China">China</option>
                                            <option value="Colombia">Colombia</option>
                                            <option value="Comoros">Comoros</option>
                                            <option value="Congo">Congo</option>
                                            <option value="Croatia">Croatia</option>
                                            <option value="Cuba">Cuba</option>
                                            <option value="Curacao">Curacao</option>
                                            <option value="Cyprus">Cyprus</option>
                                            <option value="Czechia">Czechia</option>
                                            <option value="Denmark">Denmark</option>
                                            <option value="Djibouti">Djibouti</option>
                                            <option value="Dominica">Dominica</option>
                                            <option value="Dominican Republic">Dominican Republic</option>
                                            <option value="East Timor">East Timor</option>
                                            <option value="Ecuador">Ecuador</option>
                                            <option value="Egypt">Egypt</option>
                                            <option value="El Salvador">El Salvador</option>
                                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                                            <option value="Eritrea">Eritrea</option>
                                            <option value="Estonia">Estonia</option>
                                            <option value="Ethiopia">Ethiopia</option>
                                            <option value="Fiji">Fiji</option>
                                            <option value="Finland">Finland</option>
                                            <option value="France">France</option>
                                            <option value="Gabon">Gabon</option>
                                            <option value="Gambia">Gambia</option>
                                            <option value="Georgia">Georgia</option>
                                            <option value="Germany">Germany</option>
                                            <option value="Ghana">Ghana</option>
                                            <option value="Greece">Greece</option>
                                            <option value="Grenada">Grenada</option>
                                            <option value="Guatemala">Guatemala</option>
                                            <option value="Guinea">Guinea</option>
                                            <option value="Guinea-Bissau">Guinea-Bissau</option>
                                            <option value="Haiti">Haiti</option>
                                            <option value="Holy See">Holy See</option>
                                            <option value="Honduras">Honduras</option>
                                            <option value="Hong Kong">Hong Kong</option>
                                            <option value="Hungary">Hungary</option>
                                            <option value="Iceland">Iceland</option>
                                            <option value="India">India</option>
                                            <option value="Indonesia">Indonesia</option>
                                            <option value="Iran">Iran</option>
                                            <option value="Iraq">Iraq</option>
                                            <option value="Ireland">Ireland</option>
                                            <option value="Israel">Israel</option>
                                            <option value="Italy">Italy</option>
                                            <option value="Jamaica">Jamaica</option>
                                            <option value="Japan">Japan</option>
                                            <option value="Jordan">Jordan</option>
                                            <option value="Kazakhstan">Kazakhstan</option>
                                            <option value="Kenya">Kenya</option>
                                            <option value="Kiribati">Kiribati</option>
                                            <option value="Korea">Korea</option>
                                            <option value="Kosovo">Kosovo</option>
                                            <option value="Kuwait">Kuwait</option>
                                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                                            <option value="Laos">Laos</option>
                                            <option value="Latvia">Latvia</option>
                                            <option value="Lebanon">Lebanon</option>
                                            <option value="Lesotho">Lesotho</option>
                                            <option value="Liberia">Liberia</option>
                                            <option value="Libya">Libya</option>
                                            <option value="Liechtenstein">Liechtenstein</option>
                                            <option value="Lithuania">Lithuania</option>
                                            <option value="Luxembourg">Luxembourg</option>
                                            <option value="Macau">Macau</option>
                                            <option value="Macedonia">Macedonia</option>
                                            <option value="Madagascar">Madagascar</option>
                                            <option value="Malawi">Malawi</option>
                                            <option value="Malaysia">Malaysia</option>
                                            <option value="Maldives">Maldives</option>
                                            <option value="Mali">Mali</option>
                                            <option value="Marshall Islands">Marshall Islands</option>
                                            <option value="Mauritania">Mauritania</option>
                                            <option value="Mauritius">Mauritius</option>
                                            <option value="Mexico">Mexico</option>
                                            <option value="Micronesia">Micronesia</option>
                                            <option value="Moldova">Moldova</option>
                                            <option value="Monaco">Monaco</option>
                                            <option value="Mongolia">Mongolia</option>
                                            <option value="Montenegro">Montenegro</option>
                                            <option value="Morocco">Morocco</option>
                                            <option value="Mozambique">Mozambique</option>
                                            <option value="Namibia">Namibia</option>
                                            <option value="Nauru">Nauru</option>
                                            <option value="Nepal">Nepal</option>
                                            <option value="Netherlands">Netherlands</option>
                                            <option value="New Zealand">New Zealand</option>
                                            <option value="Nicaragua">Nicaragua</option>
                                            <option value="Niger">Niger</option>
                                            <option value="Nigeria">Nigeria</option>
                                            <option value="North Korea">North Korea</option>
                                            <option value="Norway">Norway</option>
                                            <option value="Oman">Oman</option>
                                            <option value="Palau">Palau</option>
                                            <option value="Palestinian Territories">Palestinian Territories</option>
                                            <option value="Panama">Panama</option>
                                            <option value="Papua New Guinea">Papua New Guinea</option>
                                            <option value="Paraguay">Paraguay</option>
                                            <option value="Peru">Peru</option>
                                            <option value="Philippines">Philippines</option>
                                            <option value="Poland">Poland</option>
                                            <option value="Portugal">Portugal</option>
                                            <option value="Qatar">Qatar</option>
                                            <option value="Romania">Romania</option>
                                            <option value="Russia">Russia</option>
                                            <option value="Rwanda">Rwanda</option>
                                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                            <option value="Saint Lucia">Saint Lucia</option>
                                            <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                                            <option value="Samoa">Samoa</option>
                                            <option value="San Marino">San Marino</option>
                                            <option value="Sao Tome and Princip">Sao Tome and Princip</option>
                                            <option value="Saudi Arabia">Saudi Arabia</option>
                                            <option value="Senegal">Senegal</option>
                                            <option value="Serbia">Serbia</option>
                                            <option value="Seychelles">Seychelles</option>
                                            <option value="Sierra Leone">Sierra Leone</option>
                                            <option value="Singapore">Singapore</option>
                                            <option value="Sint Maarten">Sint Maarten</option>
                                            <option value="Slovakia">Slovakia</option>
                                            <option value="Slovenia">Slovenia</option>
                                            <option value="Solomon Islands">Solomon Islands</option>
                                            <option value="Somalia">Somalia</option>
                                            <option value="South Africa">South Africa</option>
                                            <option value="South Korea">South Korea</option>
                                            <option value="South Sudan">South Sudan</option>
                                            <option value="Spain">Spain</option>
                                            <option value="Sri Lanka">Sri Lanka</option>
                                            <option value="Sudan">Sudan</option>
                                            <option value="Suriname">Suriname</option>
                                            <option value="Swaziland">Swaziland</option>
                                            <option value="Sweden">Sweden</option>
                                            <option value="Switzerland">Switzerland</option>
                                            <option value="Syria">Syria</option>
                                            <option value="Taiwan">Taiwan</option>
                                            <option value="Tajikistan">Tajikistan</option>
                                            <option value="Tanzania">Tanzania</option>
                                            <option value="Thailand">Thailand</option>
                                            <option value="Timor-Leste">Timor-Leste</option>
                                            <option value="Togo">Togo</option>
                                            <option value="Tonga">Tonga</option>
                                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                            <option value="Tunisia">Tunisia</option>
                                            <option value="Turkey">Turkey</option>
                                            <option value="Turkmenistan">Turkmenistan</option>
                                            <option value="Tuvalu">Tuvalu</option>
                                            <option value="Uganda">Uganda</option>
                                            <option value="Ukraine">Ukraine</option>
                                            <option value="United Arab Emirates">United Arab Emirates</option>
                                            <option value="United Kingdom">United Kingdom</option>
                                            <option value="Uruguay">Uruguay</option>
                                            <option value="Uzbekistan">Uzbekistan</option>
                                            <option value="Vanuatu">Vanuatu</option>
                                            <option value="Venezuela">Venezuela</option>
                                            <option value="Vietnam">Vietnam</option>
                                            <option value="Yemen">Yemen</option>
                                            <option value="Zambia">Zambia</option>
                                            <option value="Zimbabwe">Zimbabwe</option>

                                        </select> <i></i>
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">State</label>
                                    <label class="input">
                                        <!--<i class="icon-append fa fa-calendar"></i>-->
                                        <!--  <input type="text" name="startdate" id="startdate" data-smart-datepicker data-min-restrict="#finishdate" data-date-format="dd/mm/yy HH:mm:ss" placeholder="Expected start date">-->
                                        <input type="text" id="exampleInput" name="state" ng-model="state" ng-disabled="(action == 'View' )?true:false" />

                                    </label>

                                </section>
                                <section class="col col-6">
                                    <label class="label">City</label>
                                    <label class="input">
                                        <!--<i class="icon-append fa fa-calendar"></i>-->
                                        <!--  <input type="text" name="startdate" id="startdate" data-smart-datepicker data-min-restrict="#finishdate" data-date-format="dd/mm/yy HH:mm:ss" placeholder="Expected start date">-->
                                        <input type="text" id="exampleInput" name="city" ng-model="city" ng-disabled="(action == 'View' )?true:false" />

                                    </label>
                                </section>

                                <section class="col col-6">
                                    <label class="label">Pincode</label>
                                    <label class="input">
                                        <!--<i class="icon-append fa fa-calendar"></i>-->
                                        <!--  <input type="text" name="startdate" id="startdate" data-smart-datepicker data-min-restrict="#finishdate" data-date-format="dd/mm/yy HH:mm:ss" placeholder="Expected start date">-->
                                        <input type="text" id="exampleInput" name="pincode" ng-model="pincode" ng-disabled="(action == 'View' )?true:false" />

                                    </label>
                                </section>
                            </div>



                        </div>


                    </article>

                    <article class="col-sm-12 col-md-12 col-lg-12">
                        <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                            <header style="background-color: #af64cc; color: white">
                                <span class="widget-icon"> <i class="fa fa-car"></i> </span>
                                <h2>Vehicle  Details</h2>
                            </header>

                            <div class="row smart-form">
                                <section class="col col-6">
                                    <label class="label">Insurance no</label>
                                    <label class="input">

                                        <input type="text" id="exampleInput" name="insurance_mapping_key" ng-model="insurance_mapping_key" ng-disabled="(action == 'View' )?true:false" />


                                    </label>
                                </section>

                                <section class="col col-6">
                                    <label class="label">Driving License no</label>
                                    <label class="input">
                                        <input type="text" id="exampleInput" name="license_no" ng-model="license_no" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>

                                <section class="col col-6">
                                    <label class="label">Vehicle no</label>
                                    <label class="input">
                                        <!--<i class="icon-append fa fa-calendar"></i>-->
                                        <!--  <input type="text" name="startdate" id="startdate" data-smart-datepicker data-min-restrict="#finishdate" data-date-format="dd/mm/yy HH:mm:ss" placeholder="Expected start date">-->
                                        <input type="text" id="exampleInput" name="vehicle_no" ng-model="vehicle_no" ng-disabled="(action == 'View' )?true:false" />

                                    </label>

                                </section>

                                <section class="col col-6">
                                    <label class="label">Insurance Provider</label>
                                    <label class="input">

                                        <input type="text" id="exampleInput" name="insurance_provider" ng-model="insurance_provider" ng-disabled="(action == 'View' )?true:false" />

                                    </label>

                                </section>

                                <section class="col col-6">
                                    <label class="label">Insurer Email Id</label>
                                    <label class="input">
                                        <input type="text" id="exampleInput" name="insurer_emailid" ng-model="insurer_emailid" ng-disabled="(action == 'View' )?true:false" />
                                    </label>

                                </section>

                                <section class="col col-6">
                                    <label class="label">Vehicle color</label>
                                    <label class="select">
                                        <select name="gender" ng-model="vehicle_color" ng-disabled="(action == 'View' )?true:false">
                                            <option value="0" selected="selected" disabled="">Select color</option>
                                            <option value="red">Red</option>
                                            <option value="black">Black</option>
                                            <option value="White">White</option>
                                            <option value="metallicdark">Metallic dark</option>
                                            <option value="metalliclight">Metallic light</option>

                                        </select> <i></i>
                                    </label>
                                </section>

                                <section class="col col-6">
                                    <label class="label">Vehicle type</label>
                                    <label class="select">
                                        <select name="gender" ng-model="vehicle_type" ng-disabled="(action == 'View' )?true:false">
                                            <option value="0" disabled="">Select car type</option>
                                            <option value="Car" selected="">Car</option>
                                            <option value="Truck">Truck</option>
                                            <option value="Bus">Bus</option>

                                        </select> <i></i>
                                    </label>

                                </section>
                                <section class="col col-6">
                                    <label class="label">Device no</label>
                                    <label class="input">

                                        <input type="text" id="exampleInput" name="deviceno" ng-model=" deviceno" ng-disabled="(action == 'View' )?true:false" />


                                    </label>
                                </section>

                                <section class="col col-6" ng-class="{'state-error': myForm.role_Id.$invalid}">
                                    <label class="label">User type</label>
                                    <label class="input" style="border: 1px  #000; border-radius: 2px">
                                        <select title="Select Roll Id" name='role_Id' id="rollid" ng-options="roll.role_id as roll.role_desc for roll in allRoll" ng-model="role_Id" class="form-control" ng-disabled="(action == 'View' )?true:false"></select>
                                        <span style="color:red" ng-show="myForm.o_id.$touched && myForm.o_id.$invalid">
                                            <span ng-show="myForm.o_id.$error.required">User type is required.</span>
                                        </span>
                                    </label>
                                </section>

                                <section class="col col-6" ng-class="{'state-error': myForm.o_id.$invalid}">
                                    <label class="label">Organization</label>
                                    <label class="input" style="border: 1px  #000; border-radius: 2px">
                                        <select title="Select Organization" name='o_id' id="o_id" ng-options="roll.o_id as roll.o_name for roll in allOrg" ng-model="o_id" class="form-control" ng-disabled="(action == 'View' )?true:false" required></select>
                                        <span style="color:red" ng-show="myForm.o_id.$touched && myForm.o_id.$invalid">
                                            <span ng-show="myForm.o_id.$error.required">Organization is required.</span>
                                        </span>
                                    </label>
                                </section>



                            </div>

                            <div class="row smart-form">
                                <div class="col col-12">
                                    <label class="label">Vehicle Engine Type : -</label>
                                </div>

                                <div class="col col-1">
                                    <label class="radio">
                                        <input type="radio" name="vehiclengine" ng-model="vehiclengine_type" value="Petrol">
                                        <i></i> Petrol
                                    </label>

                                </div>
                                <div class="col col-1">
                                    <label class="radio">
                                        <input type="radio" name="vehiclengine" ng-model="vehiclengine_type" value="diesel">
                                        <i></i> Diesel
                                    </label>

                                </div>

                                <div class="col col-2" style="width:13.66%">
                                    <label class="radio">
                                        <input type="radio" name="vehiclengine" ng-model="vehiclengine_type" value="electrical">
                                        <i></i> Electrical/Hybrid
                                    </label>

                                </div>

                                <div class="col col-1">
                                    <label class="radio">
                                        <input type="radio" name="vehiclengine" ng-model="vehiclengine_type" value="other">
                                        <i></i> Other
                                    </label>

                                </div>
                            </div><br />


                            <div class="row smart-form">
                                <section class="col col-6">
                                    <label class="label">Profile Picture</label>

                                    <label class="select">
                                        <input type="file" name="profile_picture_uri" id="fileToUpload" file-model="profile_picture_uri" accept="image/*">
                                    </label>
                                </section>
                            </div>


                            <div class="row smart-form">
                                <img src='{{profile_picture_uri}}' alt="" style="width:50%;">
                            </div>



                            <footer class="pull-right">
                                <!--<button type="submit" class="btn btn-primary" data-ng-click="updateregister()">
                                    Update Profile
                                </button>-->

                                <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="SaveCompetitionRecord()" ng-show="(action == 'New' )?true:false">
                                    <i class="fa fa-save"></i> {{btnSaveText}}
                                </button>
                                <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="UpdateCompetitionRecord()" ng-show="(action == 'Edit' )?true:false">
                                    <i class="fa fa-save"></i> Update
                                </button>

                                <button class="btn btn-warning" ng-show="deleteMode" ng-click="deleteCompetition()">
                                    <i class="fa fa-remove"></i> Delete
                                </button>

                                <button class="btn btn-warning" ng-click="finalCancelCompetitionRecord()">
                                    <i class="fa fa-remove"></i> Cancel
                                </button>
                            </footer>

                        </div>
                    </article>


                </div>
            </div>
        </form>
    </section>



</div>



