﻿<div id="content">
    <section widget-grid id="widget-grid">
        <div style="margin-left:15px; margin-right: 15px">
            <div class="row">
                <big-breadcrumbs items="['Distance Report']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
                <div smart-include="app/layout/partials/sub-header.tpl.html"></div>

            </div>

            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#1475bf; ">
                            <h2>Search </h2>
                        </header>

                        <div>
                            <div class="widget-body no-padding">
                                <div class="row smart-form">
                                    <article class="col-sm-12">
                                        <fieldset>
                                            <form name="detailfilterForm" novalidate="novalidate">
                                                <section class="col col-3" ng-class="{'state-error': detailfilterForm.VechicleNo.$invalid}">
                                                    <label class="label">Vehicle No</label>
                                                    <label class="select">
                                                        <select name="VechicleNo" ng-model="vehicleRefId" title="Select vehicle no" required>
                                                            <option ng-repeat="vehicle in dtVehicleList" value="{{vehicle.value}}">{{vehicle.text}}</option>

                                                        </select> <i></i>
                                                    </label>
                                                    <div ng-show="detailfilterForm.VechicleNo.$touched">
                                                        <!--<div class="note note-error" ng-if="detailfilterForm.VechicleNo.$error.required">{{ validationMsg.required }}</div>-->
                                                    </div>
                                                </section>

                                                <section class="col col-3" ng-class="{'state-error': detailfilterForm.fromdate.$invalid}">
                                                    <label class="label">Start Date</label>
                                                    <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                        <!--<i class="icon-append fa fa-calendar" style="color:orange"></i>-->
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        <input datetime-picker name="fromdate" ng-model="fromdate" title="Select start date" date-format="dd-MM-yyyy" date-only required  />
                                                         <div ng-show="detailfilterForm.VechicleNo.$touched">
                                                            <!--<div class="note note-error" ng-if="detailfilterForm.fromdate.$error.required">{{ validationMsg.required }}</div>-->
                                                         </div>
                                                     </label>
                                                </section>

                                                <!--<section class="col col-6">
                                                    <label class="input">
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        <input type="text" name="startdate" id="startdate" data-smart-datepicker="" data-min-restrict="#finishdate" placeholder="Expected start date" class="hasDatepicker">
                                                    </label>
                                                </section>-->

                                                <section class="col col-3" ng-class="{'state-error': detailfilterForm.todate.$invalid}">
                                                    <label class="label">End Date</label>
                                                    <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                        <!--<i class="icon-append fa fa-calendar" style="color:orange"></i>-->
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        <input datetime-picker name="todate" ng-model="todate" title="Select end date" date-format="dd-MM-yyyy" date-only required />
                                                        <div ng-show="detailfilterForm.todate.$touched">
                                                            <!--<div class="note note-error" ng-if="detailfilterForm.todate.$error.required">{{ validationMsg.required }}</div>-->
                                                        </div>
                                                    </label>
                                                </section>

                                                <section class="col col-3">
                                                    <label class="label">.</label>
                                                    <button type="button" class="btn btn-primary btn-sm" title="Please click Show button" ng-disabled="detailfilterForm.$invalid" ng-click="display()"><i class="fa fa-shower" aria-hidden="true"></i> Show</button>
                                                 
                                                </section>
                                           </form>
                                        </fieldset>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!--Graphical Data-->
                <article class="col-sm-6 col-md-6 col-lg-12">
                    <div  jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #af64cc; color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Day/Night Distance Travel Graph</h2>
                        </header>
                        <div id="chartharsbreakingdiv"></div>
                    </div>
                </article>
               


                <!--Vehicle Data-->
                <article class="col-sm-6 col-md-6 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-collapsed="true" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#5bc0dc; color: white">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Day/Night Distance Travel Data </h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <!--<table datatable-column-reorder class="table table-striped table-bordered table-hover" width="100%">-->
                                <table datatable-basic tablebind="tablebind" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0">
                                    <!--<table datatable-basic tablebind="tablebind" class="table table-striped table-bordered table-hover" width="100%">-->
                                    <thead>
                                        <tr>
                                            <!--<th style="width: 0%; background-color: #ea9828 !important">Device no</th>-->
                                            <th style="width: 25%; background-color: #ea9828 !important">Date (dd/mm/yyyy)</th>
                                            <th data-class="expand" style="width: 25%; background-color: #ea9828 !important">Total Travle Distance (km)</th>
                                            <th data-hide="phone,tablet" style="width: 25%; background-color: #ea9828 !important">Distance Traveled at Day (km) </th>
                                            <th data-hide="phone,tablet" style="width: 25%; background-color: #ea9828 !important">Distance Traveled at Night (km)</th>
                                        </tr>
                                    </thead>
                                </table>

                            </div>
                        </div>
                    </div>
                </article>


            </div>
            </div>
</section>
 </div>
<style>
    #chartharsbreakingdiv {
        width: 100%;
        height: 350px;
    }
  

     #chartdistdiv {
        width: 100%;
        height: 350px;
    }

    table-hover > tbody > tr:hover {
        background-color: #5bc0dc !important;
    }
</style>

<!--<script>
    var chart = AmCharts.makeChart("chartharsbreakingdiv", {
	"type": "serial",
     "theme": "light",
	"categoryField": "year",
	"rotate": true,
	"startDuration": 1,
	"categoryAxis": {
		"gridPosition": "start",
		"position": "left"
	},
	"trendLines": [],
	"graphs": [
		{
			"balloonText": "Income:[[value]]",
			"fillAlphas": 0.8,
			"id": "AmGraph-1",
			"lineAlpha": 0.2,
			"title": "Income",
			"type": "column",
			"valueField": "income"
		},
		{
			"balloonText": "Expenses:[[value]]",
			"fillAlphas": 0.8,
			"id": "AmGraph-2",
			"lineAlpha": 0.2,
			"title": "Expenses",
			"type": "column",
			"valueField": "expenses"
		}
	],
	"guides": [],
	"valueAxes": [
		{
			"id": "ValueAxis-1",
			"position": "top",
			"axisAlpha": 0
		}
	],
	"allLabels": [],
	"balloon": {},
	"titles": [],
	"dataProvider": [
		{
			"year": 2005,
			"income": 23.5,
			"expenses": 18.1
		},
		{
			"year": 2006,
			"income": 26.2,
			"expenses": 22.8
		},
		{
			"year": 2007,
			"income": 30.1,
			"expenses": 23.9
		},
		{
			"year": 2008,
			"income": 29.5,
			"expenses": 25.1
		},
		{
			"year": 2009,
			"income": 24.6,
			"expenses": 25
		}
	],
    "export": {
    	"enabled": true
     }

});
</script>-->



