<div id="content">
    <section widget-grid id="widget-grid">
        <div style="margin-left:15px; margin-right: 15px">
            <div class="row">
                <big-breadcrumbs items="['Blotter View User']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
                <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
            </div>

            <div class="row" style="margin-left: 0px !important">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row" style=" padding-bottom: 20px;">
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #e74c3c !important; ">
                                <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 7px; padding-bottom: 10px; background-color: #c53c2e; ">
                                        <img src="styles/img/osff.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">
                                    </div>
                                    <div class="col-xs-8 text-center">
                                        <h2 class="livescore">{{OS}}</h2>
                                        <div class="text-uppercase">Over Speed </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #1475bf !important; ">
                                <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 7px; padding-bottom: 10px; background-color: #28628e; ">
                                        <img src="styles/img/haff.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">
                                    </div>
                                    <div class="col-xs-8 text-center">
                                        <h2 class="livescore">{{HA}}</h2>
                                        <div class="text-uppercase">H.A.</div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #27ae60 !important; ">
                                <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding:8px 10px 10px 10px; background-color: #298a52;;">

                                        <img src="styles/img/Co2-Reverse.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">
                                    </div>
                                    <div class="col-xs-8 text-center padding-left0">
                                        <h2 class="livescore">0</h2>
                                        <div class="text-uppercase">CO2</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #666 !important; ">
                                <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding:6px 10px 10px 10px; background-color: #5c5c5c;">
                                        <i class="fa fa-phone fa-3x" style="color: white"></i>
                                    </div>
                                    <div class="col-xs-8 text-center padding-left0">
                                        <h2 class="livescore">{{CT}}</h2>
                                        <div class="text-uppercase">Calls Taken </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #af64cc !important; ">
                                <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding:8px 10px 10px 10px; background-color: #863ba2;">
                                        <img src="styles/img/hbff.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">
                                    </div>
                                    <div class="col-xs-8 text-center">
                                        <h2 class="livescore">{{HB}}</h2>
                                        <div class="text-uppercase">H.B. </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #ea9828 !important; ">
                                <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding:8px 10px 10px 10px; background-color: #d28924;;">
                                        <img src="styles/img/corff.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">
                                    </div>
                                    <div class="col-xs-8 text-center padding-left0">
                                        <h2 class="livescore">{{HC}}</h2>
                                        <div class="text-uppercase">Cornering</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-6">
                    <div jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #009688; color: white">
                            <div style="margin-left:5px">
                                <i class="fa fa-map-marker"></i> <span> Map View</span>
                                <span class="pull-right" style="margin-top:-2px ;margin-right:5px">

                                    <button class="btn btn-warning btn-xs" title="Manual Refresh" ng-click="getVehicleData()" ng-if="!OnOffStatus"><i class="fa fa-refresh"></i> Manual</button>
                                    <span class="onoffswitch">
                                        <input type="checkbox" name="start_interval_map" ng-model="OnOffStatus"
                                               ng-change="AutoOnOff()"
                                               class="onoffswitch-checkbox" id="start_interval_map">
                                        <label title="Auto Refresh On/Off" class="onoffswitch-label" for="start_interval_map">
                                            <span class="onoffswitch-inner"
                                                  data-swchon-text="Auto"
                                                  data-swchoff-text="Off"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>

                                    </span>
                                </span>

                            </div>



                        </header>

                        <div>
                            <div class="row">

                                <div id="divmap" data-smart-fill-content="" id="map-canvas" ui-map="myMap">
                                    <ui-gmap-google-map control='map.control' center='map.center' zoom='map.zoom'>
                                        <ui-gmap-marker ng-repeat="m in map.markersr" coords="m" options="m.options" idkey="m.id">
                                            <ui-gmap-window options="windowOptions" closeclick="closeClick()">
                                                <div>
                                                    <small>
                                                        Vehicle No:  {{m.vehicledetails.vehicle_no}} <br />
                                                        Speed: {{m.vehicledetails.speed}} <br />
                                                        Driver Name: {{m.vehicledetails.drivername}} <br />
                                                        Driver Mobile No: {{m.vehicledetails.derivermobileno}} <br />
                                                        Date Time: {{m.vehicledetails.recorddatetime| date:'dd-MM-yyyy h:mma'}} <br />
                                                        Latitude: {{m.vehicledetails.latitude}} <br />
                                                        logutude: {{m.vehicledetails.longitude}} <br />
                                                        Address: {{m.vehicledetails.address}} <br />
                                                        Alert/Status : <b>{{m.vehicledetails.alert}}</b>
                                                    </small>
                                                </div>
                                            </ui-gmap-window>

                                        </ui-gmap-marker>

                                        <ui-gmap-circle ng-repeat="c in circle" radius="100"
                                                        stroke="{color: '#db6c0a', weight: 2, opacity: 1.0}"
                                                        fill="{color: '#db6c0a', opacity: 0.5}"
                                                        center="{latitude: c.latitude, longitude:c.longitude}"
                                                        clickable=true>
                                        </ui-gmap-circle>

                                    </ui-gmap-google-map>

                                </div>

                            </div>
                        </div>

                    </div>

                </article>

                <article class="col-sm-6 col-md-6 col-lg-6">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #3276b1;color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Overall Score</h2>
                        </header>
                        <div id="chartdivscore"></div>
                    </div>
                </article>


            </div>




            <div class="row">
                <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#3276b1;">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Selected Key Parameters Score</h2>
                        </header>
                        <div>
                            <div id="driverSpiderdiv"></div>
                        </div>
                    </div>

                </article>

                <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #af64cc; color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Driving Speed Analysis</h2>
                        </header>
                        <div id="chartdivspeed"></div>
                    </div>
                </article>

                <!--<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                    <div jarvis-widget id="chartjs-doughnut-chart" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #5bc0dc; color:white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>Trip Wise Score</h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <div id="TripWiseScorediv"></div>
                            </div>
                        </div>
                    </div>
                </article>-->
            </div>

            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div jarvis-widget id="chartjs-doughnut-chart" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #3276b1;color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>Day Wise Score</h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <div id="DayWiseScorediv"></div>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </section>
</div>

<style>
    #divmap {
        width: 100%;
        height: 335px;
    }

    #chartdivscore {
        width: 100%;
        height: 360px;
    }

    #driverSpiderdiv {
        width: 100%;
        height: 350px;
    }

    /*#TripWiseScorediv {
        width: 100%;
        height: 300px;
    }*/

    #DayWiseScorediv {
        width: 100%;
        height: 350px;
    }

    #chartdivspeed {
        width: 100%;
        height: 350px;
    }
</style>

