﻿<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <big-breadcrumbs items="['Organization List']" icon="file-text-o"
                             class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
            <div smart-include="app/layout/partials/sub-header.tpl.html"></div>

            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8 text-right">
                <span>
                    <button class="btn btn-primary" ng-click="newRow()"> <i class="fa fa-plus"></i> Add New Organization</button>
                </span>

            </div>
            
        </div><br />


        <!-- widget grid -->
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div data-jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-color="blueLight">

                    <header style="background-color: #5bc0dc; ">
                        <span class="widget-icon"> <i class="fa fa-list"></i> </span>
                        <h2>Organization List</h2>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <label class="label"></label>
                            <div class="textarea">
                                <table datatable-basic tablebind="tablebind" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Organization Code</th>
                                            <th data-class="expand">Organization Name</th>
                                            <th data-hide="phone,tablet">Organization Type</th>
                                            <th data-hide="phone">Address</th>
                                            <th data-hide="phone">Email Address</th>
                                            <th data-hide="phone,tablet">Mobile Number</th>
                                            <th>Edit</th>
                                            <th>View</th>
                                            <th>Delete</th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!--Print Pop-Up is Start Here-->
        <!--Print Pop-Up is Start Here-->

    </section>
</div>

<style type="text/css" media="print">
    table {
        width: 100%;
        border: 1pt solid #000000;
        border-collapse: collapse;
        font-size: 11pt;
    }
</style>

