﻿<!-- MAIN CONTENT -->
<div id="content">

    <section widget-grid id="widget-grid">
        <div style="margin-left:15px; margin-right: 15px">
            <div class="row">
                <header>

                    <h2>Organization  {{lblheading1}}</h2>
                </header>
            </div>

            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">

                        <header style="background-color: #1475bf; ">
                            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                            <h2> Organization Details </h2>
                        </header>

                        <div>
                            <div class="widget-body no-padding">
                                <form name="myForm" role="form" class="smart-form client-form">
                                    <article class="col-sm-12">
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-6" ng-class="{'state-error': myForm.o_code.$invalid}">
                                                    <label class="label">Organization code</label>
                                                    <label class="input">
                                                        <input type="text" name="o_code" ng-model="o_code" title="Select Organization Code" ng-disabled="(action == 'View' )?true:false" required>
                                                        <!--<b class="tooltip tooltip-bottom-right">Needed to enter the Email id</b>-->
                                                        <span style="color:red" ng-show="myForm.o_code.$touched && myForm.o_code.$invalid">
                                                            <span ng-show="myForm.o_code.$error.required">Organization code is required.</span>
                                                        </span>
                                                    </label>
                                                </section>
                                                <section class="col col-6" ng-class="{'state-error': myForm.o_name.$invalid}">
                                                    <label class="label">Organization Name</label>
                                                    <label class="input">
                                                        <!--<i class="icon-append fa fa-envelope"></i>-->
                                                        <input type="text" name="o_name" ng-model="o_name" title="Select Organization Name" ng-disabled="(action == 'View' )?true:false" required>
                                                        <!--<b class="tooltip tooltip-bottom-right">Needed to enter the Email id</b>-->
                                                        <span style="color:red" ng-show="myForm.o_name.$touched && myForm.o_name.$invalid">
                                                            <span ng-show="myForm.o_name.$error.required">Organization name is required.</span>
                                                        </span>
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-6">
                                                    <label class="label">Organization Type</label>
                                                    <label class="input">
                                                        <input type="text" name="o_type" ng-model="o_type" title="Select Organization Type" ng-disabled="(action == 'View' )?true:false">
                                                        <b class="tooltip tooltip-bottom-right">Needed to enter the first name </b>
                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">Address</label>
                                                    <label class="input">
                                                        <input type="text" name="address1" ng-model="address1" title="Select Address" ng-disabled="(action == 'View' )?true:false">
                                                        <b class="tooltip tooltip-bottom-right">Needed to enter the Middle name </b>
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-6">
                                                    <label class="label">Pincode</label>
                                                    <label class="input">
                                                        <input type="text" name="pincode_no" ng-model="pincode_no" title="Select Pincode" ng-disabled="(action == 'View' )?true:false">
                                                        <b class="tooltip tooltip-bottom-right">Needed to enter the last name </b>
                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">Email Address</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-envelope"></i>
                                                        <input type="email" name="email_id1" ng-model="email_id1" title="Select Email Address" ng-disabled="(action == 'View' )?true:false">
                                                        <b class="tooltip tooltip-bottom-right">Don't forget your mobile no</b>
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-6">
                                                    <label class="label">Mobile No</label>
                                                    <label class="input">
                                                        <!--<i class="icon-append fa fa-calendar"></i>-->
                                                        <!--  <input type="text" name="startdate" id="startdate" data-smart-datepicker data-min-restrict="#finishdate" data-date-format="dd/mm/yy HH:mm:ss" placeholder="Expected start date">-->
                                                        <input type="text" name="contact_no1" ng-model="contact_no1" title="Select Mobile No" ng-disabled="(action == 'View' )?true:false">
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-4">
                                                    <label class="label">Organization Logo1</label>
                                                    <label class="select">
                                                        <!--<input type="text" class="form-control" name="prize3_desc" ng-model="prize3_desc" ng-disabled="(action == 'View' )?true:false" />-->
                                                        <input type="file" file-model="o_logo1" name="o_logo1" accept="image/*">
                                                        <img src='{{o_logo1}}' alt="Los Angeles" style="width:20%;">
                                                    </label>
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">Organization Logo2</label>
                                                    <label class="select">
                                                        <!--<input type="text" class="form-control" name="prize3_desc" ng-model="prize3_desc" ng-disabled="(action == 'View' )?true:false" />-->
                                                        <input type="file" file-model="o_logo2" name="o_logo2" accept="image/*">
                                                        <img src='{{o_logo2}}' alt="Los Angeles" style="width:20%;">
                                                    </label>
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">Organization Logo3</label>
                                                    <label class="select">
                                                        <!--<input type="text" class="form-control" name="prize3_desc" ng-model="prize3_desc" ng-disabled="(action == 'View' )?true:false" />-->
                                                        <input type="file" file-model="o_logo3" name="o_logo3" accept="image/*">
                                                        <img src='{{o_logo3}}' alt="Los Angeles" style="width:20%;">
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                    </article>
                                </form>
                            </div>
                        </div>

                    </div>
                </article>



                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">

                        <header style="background-color: #1475bf; ">
                            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                            <h2> Contact Person Details </h2>
                        </header>

                        <div>
                            <div class="widget-body no-padding">
                                <form name="myForm1" role="form" class="smart-form client-form">
                                    <article class="col-sm-12">

                                        <fieldset>

                                            <!--<div class="container">-->
                                            <div class="row" data-ng-repeat="person in orgContacts">

                                                <section class="col col-3">
                                                    <label class="label">Contact Person Name</label>
                                                    <label class="input">
                                                        <input type="text" name="contact_person_nm" title="Select Contact Person Name" ng-model="person.contact_person_nm" ng-disabled="(action == 'View' )?true:false">
                                                    </label>
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">Email Address</label>
                                                    <label class="input">
                                                        <input type="email" name="email_id" title="Select Email Address" ng-model="person.email_id" ng-disabled="(action == 'View' )?true:false">

                                                    </label>
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">Mobile No </label>
                                                    <label class="input">
                                                        <input type="text" name="contact_no" title="Select Mobile No" ng-model="person.contact_no" ng-disabled="(action == 'View' )?true:false">

                                                    </label>
                                                </section>

                                                <section class="col col-3">
                                                    <label class="label">.</label>
                                                    <button class="btn btn-danger btn-sm" ng-click="removeorgContact($index)">Remove</button>



                                                </section>

                                                </><br />
                                            </div>
                                            <button class="btn btn-primary btn-sm" ng-click="addNeworgContact()">Add New</button>


                                            <!--<button class="btn btn-primary" ng-click="save()">save</button>-->
                                            <!--<button class="btn btn-danger"  ng-click="delete()">Löschen</button>-->
                                            <!--<button class="btn btn-warning" ng-click="cancel()">cancel</button>-->
                                            <!--</div>-->
                                        </fieldset>

                                    </article>
                                </form>
                            </div>
                        </div>

                    </div>
                </article>
            </div>


            <div class="row pull-right">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <footer>
                            <!--<button type="submit" class="btn btn-primary" data-ng-click="updateregister()">
                                       Update Profile
                            </button>-->

                            <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="SaveOrganizationRecord()" ng-show="(action == 'New' )?true:false">
                                <i class="fa fa-save"></i> {{btnSaveText}}
                            </button>
                            <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="UpdateOrganizationRecord()" ng-show="(action == 'Edit' )?true:false">
                                <i class="fa fa-save"></i> Update
                            </button>

                            <button class="btn btn-warning" ng-show="deleteMode" ng-click="deleteOrganization()">
                                <i class="fa fa-remove"></i> Delete
                            </button>

                            <button class="btn btn-warning" ng-click="finalCancelOrganizationRecord()">
                                <i class="fa fa-remove"></i> Cancel
                            </button>
                        </footer>
                    </div>

                </article>
            </div>


        </div>

    </section>


</div>




