<div class="ajax-dropdown"> <!--ng-controller="ActivitiesCtrl as activitiesDropdown"--> 

   

   <!-- notification content -->
   <div class="ajax-notifications custom-scroll">
       <div smart-include="app/dashboard/todo/todo-widget.tpl.html"></div>
   </div>
   
</div>
