﻿<!-- MAIN CONTENT -->
<div id="content">

    <section widget-grid id="widget-grid">
        <div class="row">
            <big-breadcrumbs items="['Live Tracking']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
            <div smart-include="app/layout/partials/sub-header.tpl.html"></div>

        </div>

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #008080; ">
                        <span class="widget-icon"> <i class="fa fa-search"></i> </span>
                        <h2>Search </h2>
                        <div class="widget-toolbar" id="switch-1" role="menu">
                            <!--<span class="onoffswitch-title"><i class="fa fa-refresh"></i> Auto Refresh</span>
                            <span class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" ng-change="AutoOnOff()" class="onoffswitch-checkbox" id="myonoffswitch">
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </span>-->
                            <div>
                                <span class="pull-left"> {{rdate}}</span>

                                <span class="onoffswitch">
                                    <input type="checkbox" name="start_interval_map" ng-model="OnOffStatus"
                                           ng-change="AutoOnOff()"
                                           class="onoffswitch-checkbox" id="start_interval_map" ng-disabled="detailForm.VechicleNo.$invalid">
                                    <label class="onoffswitch-label" for="start_interval_map" ng-disabled="detailForm.VechicleNo.$invalid">
                                        <span class="onoffswitch-inner"
                                              data-swchon-text="On"
                                              data-swchoff-text="Off"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </span>
                            </div>

                    </header>

                    <div>
                        <div class="widget-body no-padding">
                            <div class="row smart-form">
                                <article class="col-sm-12">
                                    <fieldset>
                                        <form name="detailForm" novalidate="novalidate">
                                            <section class="col col-2">

                                                <label class="label">Vehicle Number</label>
                                                <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                    <input type="text" name="VechicleNo" list="list" ng-model="vehicleRefId" class="form-control" list="list" placeholder="Vechicle No" required>
                                                    <datalist id="list">
                                                        <option ng-repeat="vehicle in dtVehicleList" value="{{vehicle.value}}">{{vehicle.text}}</option>
                                                    </datalist>
                                                </label>
                                                <div ng-show="detailForm.VechicleNo.$touched">
                                                    <div class="note note-error" ng-if="detailForm.VechicleNo.$error.required">{{ validationMsg.required }}</div>
                                                </div>
                                            </section>

                                            <!--<section class="col col-2">
                                                <label class="label">Start Date</label>
                                                <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                    <i class="icon-append fa fa-calendar" style="color:orange"></i>
                                                    <input type="text" name="VechicleNo" class="form-control" list="list" placeholder="Start Date" required>

                                                </label>
                                            </section>

                                            <section class="col col-2">
                                                <label class="label">End Date</label>
                                                <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                    <i class="icon-append fa fa-calendar" style="color:orange"></i>
                                                    <input type="text" name="VechicleNo" class="form-control" list="list" placeholder="End Date" required>

                                                </label>
                                            </section>-->
                                            <!--<section class="col col-2">
                                                <label class="label">Find Trip</label>
                                                <label class="select" style="border: 1px  #000; border-radius: 2px">
                                                    <select ng-model="tripRefId">
                                                        <option ng-repeat="vehicle in dtVehicleList" value="{{vehicle.value}}">{{vehicle.text}}</option>
                                                    </select>
                                                </label>
                                            </section>-->

                                            <section class="col col-2">
                                                <label class="label">No of Points</label>
                                                <label class="select">
                                                    <select name="ddlNoOfPoints" ng-model="NoOfRecords" class="form-control">
                                                        <option value="20">20</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                        <option value="150">150</option>
                                                        <option value="200">200</option>
                                                        <option value="500">500</option>

                                                    </select> <i></i>

                                                </label>

                                            </section>

                                            <section class="col col-4">
                                                <label class="label">.</label>
                                                <button type="button" class="btn btn-primary btn-sm" ng-click="GetLiveTrackingData()" ng-disabled="detailForm.VechicleNo.$invalid"><i class="fa fa-play" aria-hidden="true"></i> Start</button>
                                                <!--<button type="button" class="btn btn-warning btn-sm"><i class="fa fa-pause" aria-hidden="true"></i> Pause</button>
                                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-stop" aria-hidden="true"></i> Stop</button>-->

                                            </section>

                                        </form>
                                    </fieldset>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #3276b1; color: white">
                        <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                        <h2>Trips Data</h2>
                    </header>
                    <div id="chartdiv"></div>
                </div>
            </article>

            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #5bc0dc; color: white">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Trips Data</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <table datatable-basic tablebind="dashTablebind" bind-filters="true"
                                   class="display projects-table table table-striped table-bordered table-hover"
                                   cellspacing="0" width="100%">
                                <thead>

                                    <tr>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Trip Id" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control pplaceholder" placeholder="Trip Name" />
                                        </th>

                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Trip From" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Trip To" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Trip Start Time" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Trip End Time" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Rating" />
                                        </th>
                                    </tr>
                                    <tr>
                                        <th style="background-color: #ea9828 !important">Trip Id</th>
                                        <th data-class="expand" style="background-color: #ea9828 !important">Trip Name</th>
                                        <!--    <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Location</th>-->
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Trip From</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Trip To</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Trip Start Time</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Trip End Time</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Rating</th>
                                    </tr>
                                </thead>
                            </table>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>


</div>


<!--<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />-->

<style>
    #chartdiv {
        width: 100%;
        height: 350px;
    }

    #chartdiv1 {
        height: 350px;
    }

    .livetrackingmap .jarviswidget > div {
        padding-top: 0px;
    }

    table-hover > tbody > tr:hover {
        background-color: #5bc0dc !important;
    }
</style>

<!--<script>
    var chartData = generateChartData();

    var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "light",
        "legend": {
            "useGraphSettings": true
        },
        "dataProvider": chartData,
        "synchronizeGrid": true,
        "valueAxes": [{
            "id": "v1",
            "axisColor": "#FF6600",
            "axisThickness": 2,
            "axisAlpha": 1,
            "position": "left"
        }, {
            "id": "v2",
            "axisColor": "#FCD202",
            "axisThickness": 2,
            "axisAlpha": 1,
            "position": "right"
        }, {
            "id": "v3",
            "axisColor": "#B0DE09",
            "axisThickness": 2,
            "gridAlpha": 0,
            "offset": 50,
            "axisAlpha": 1,
            "position": "left"
        }],
        "graphs": [{
            "valueAxis": "v1",
            "lineColor": "#FF6600",
            "bullet": "round",
            "bulletBorderThickness": 1,
            "hideBulletsCount": 30,
            "title": "red line",
            "valueField": "visits",
            "fillAlphas": 0
        }, {
            "valueAxis": "v2",
            "lineColor": "#FCD202",
            "bullet": "square",
            "bulletBorderThickness": 1,
            "hideBulletsCount": 30,
            "title": "yellow line",
            "valueField": "hits",
            "fillAlphas": 0
        }, {
            "valueAxis": "v3",
            "lineColor": "#B0DE09",
            "bullet": "triangleUp",
            "bulletBorderThickness": 1,
            "hideBulletsCount": 30,
            "title": "green line",
            "valueField": "views",
            "fillAlphas": 0
        }],
        "chartScrollbar": {},
        "chartCursor": {
            "cursorPosition": "mouse"
        },
        "categoryField": "date",
        "categoryAxis": {
            "parseDates": true,
            "axisColor": "#DADADA",
            "minorGridEnabled": true
        },
        "export": {
            "enabled": true,
            "position": "bottom-right"
        }
    });

    chart.addListener("dataUpdated", zoomChart);
    zoomChart();


    // generate some random data, quite different range
    function generateChartData() {
        var chartData = [];
        var firstDate = new Date();
        firstDate.setDate(firstDate.getDate() - 100);

        for (var i = 0; i < 100; i++) {
            // we create date objects here. In your data, you can have date strings
            // and then set format of your dates using chart.dataDateFormat property,
            // however when possible, use date objects, as this will speed up chart rendering.
            var newDate = new Date(firstDate);
            newDate.setDate(newDate.getDate() + i);

            var visits = Math.round(Math.sin(i * 5) * i);
            var hits = Math.round(Math.random() * 80) + 500 + i * 3;
            var views = Math.round(Math.random() * 6000) + i * 4;

            chartData.push({
                date: newDate,
                visits: visits,
                hits: hits,
                views: views
            });
        }
        return chartData;
    }

    function zoomChart() {
        chart.zoomToIndexes(chart.dataProvider.length - 20, chart.dataProvider.length - 1);
    }

</script>-->
