<ul class="header-dropdown-list hidden-xs ng-cloak" ng-controller="LanguagesCtrl">
    <li class="dropdown" dropdown>
        
         
        <ul class="dropdown-menu pull-right">
           
        </ul>
    </li>
</ul>