﻿
<div id="content">
    <section widget-grid id="widget-grid">
        <div style="margin-left:15px; margin-right: 15px">
            <div class="row">
                <big-breadcrumbs items="['Trip Playback']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
                <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
            </div>

            <div class="row" style="margin-left: 0px !important">
                <article class="col-sm-12 col-md-12 col-lg-12">

                    <div class="row" style=" padding-bottom: 20px;">

                        <div class=" col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #e74c3c !important; ">
                                <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 7px; padding-bottom: 10px; background-color: #c53c2e; ">
                                        <img src="styles/img/osff.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">
                                    </div>
                                    <div class="col-xs-8 text-center">
                                        <h2 class="livescore">{{OS}}</h2>
                                        <div class="text-uppercase">Over Speed  </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #1475bf !important; ">
                                <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 7px; padding-bottom: 10px; background-color: #28628e; ">

                                        <img src="styles/img/haff.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">


                                    </div>
                                    <div class="col-xs-8 text-center">
                                        <h2 class="livescore">{{HA}}</h2>
                                        <div class="text-uppercase" title="Harsh Acceleration">Harsh Acc.</div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #27ae60 !important; ">
                                <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding:8px 10px 10px 10px; background-color: #298a52;;">

                                        <img src="styles/img/Co2-Reverse.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">
                                    </div>
                                    <div class="col-xs-8 text-center padding-left0">
                                        <h2 class="livescore">{{CO2}}</h2>
                                        <div class="text-uppercase">CO2</div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #666 !important; ">
                                <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 8px; padding-bottom: 6px; background-color: #5c5c5c;">
                                        <i class="fa fa-phone fa-3x" style="color: white"></i>


                                    </div>
                                    <div class="col-xs-8 text-center padding-left0">
                                        <h2 class="livescore">{{CT}}</h2>
                                        <div class="text-uppercase">Calls Taken </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #af64cc !important; ">
                                <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding:8px 10px 10px 10px; background-color: #863ba2;">
                                        <img src="styles/img/hbff.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">

                                    </div>
                                    <div class="col-xs-8 text-center">
                                        <h2 class="livescore">{{HB}}</h2>
                                        <div class="text-uppercase" title="Harsh Braking">Harsh Brk. </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #ea9828 !important; ">
                                <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding:8px 10px 10px 10px; background-color: #d28924;;">
                                        <img src="styles/img/corff.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">
                                    </div>
                                    <div class="col-xs-8 text-center padding-left0">
                                        <h2 class="livescore">{{HC}}</h2>
                                        <div class="text-uppercase">Cornering</div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </article>
            </div>

            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#1475bf;">
                            <span class="widget-icon"> <i class="fa fa-search"></i>{{playtripmodel.rdate}} </span>
                            <h2>Search </h2>
                        </header>

                        <div>
                            <div class="widget-body no-padding">
                                <div class="row smart-form">
                                    <article class="col-sm-12">
                                        <fieldset>
                                            <form name="detailfilterForm" novalidate="novalidate">

                                                <section class="col col-2" ng-class="{'state-error': detailfilterForm.VechicleNo.$invalid}">

                                                    <label class="label">Vehicle No</label>
                                                    <label class="input" style="border: 1px  #000; border-radius: 2px">

                                                        <select title="Select vehicle number" name='VechicleNo' id="VechicleNo" ng-options="vehicle.value as vehicle.text for vehicle in playtripmodel.dtVehicleList" ng-model="playtripmodel.vehicleRefId" class="form-control" required></select>
                                                    </label>

                                                    <div ng-show="detailForm.VechicleNo.$touched">
                                                        <div class="note note-error" ng-if="detailfilterForm.VechicleNo.$error.required">{{ validationMsg.required }}</div>
                                                    </div>
                                                </section>


                                                <section class="col col-5">
                                                    <section class="col col-6" ng-class="{'state-error': detailfilterForm.txtfromdate.$invalid}">
                                                        <label class=" label">
                                                            Start Date
                                                        </label>
                                                        <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                            <input id="txtfromdate" name="txtfromdate" title="Select trip start date." datetime-picker name="fromdate" ng-model="playtripmodel.fromdate" date-format="dd-MM-yyyy HH:mm:ss" required />
                                                            <!--<i class="fa fa-calendar 2x"  aria-hidden="true"></i>-->
                                                        </label>

                                                    </section>

                                                    <section class="col col-6" ng-class="{'state-error': detailfilterForm.txttodate.$invalid}">
                                                        <label class=" label">
                                                            End Date
                                                        </label>
                                                        <label title="select trip end date." class="input" style="border: 1px  #000; border-radius: 2px">
                                                            <input id="txttodate" name="txttodate" datetime-picker title="Select trip end date." ng-model="playtripmodel.todate" date-format="dd-MM-yyyy HH:mm:ss" required />
                                                            <!--<i class="fa fa-calendar" aria-hidden="true"></i>-->
                                                        </label>

                                                    </section>
                                                </section>

                                                <!--<section class="col col-6">
                                                    <label class="label">Find Trip</label>
                                                    <label class="select" style="border: 1px  #000; border-radius: 2px">
                                                        <select ng-model="tripRefId">
                                                            <option ng-repeat="trips in playtripmodel.dtallTrips" value="{{trips.trip_id}}">{{trips.trip_name}}</option>
                                                        </select>
                                                    </label>

                                                </section>-->


                                                <section class="col col-2">
                                                    <label class="label">Replay Speed</label>
                                                    <label class="select">
                                                        <select title="Set replay speed(in milliseconds)." name="ddlplaySpeed" ng-model="playtripmodel.playSpeed" class="form-control">
                                                            <option value="10">10</option>
                                                            <option>20</option>
                                                            <option>30</option>
                                                            <option>40</option>
                                                            <option>50</option>
                                                            <option>60</option>
                                                            <option>70</option>
                                                            <option>80</option>
                                                            <option>90</option>
                                                            <option ng-selected=true>100</option>
                                                        </select> <i></i>
                                                    </label>


                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">.</label>

                                                    <button class="btn btn-primary btn-sm" ng-show="playtrip.newplay" ng-click="newplayOn()" ng-disabled="detailfilterForm.VechicleNo.$invalid"> <i class="fa fa-play" aria-hidden="true" title="Play Trip"></i> Play</button>
                                                    <button class="btn btn-primary btn-sm" ng-show="playtrip.play" ng-click="playOn()" ng-disabled="detailfilterForm.VechicleNo.$invalid"> <i class="fa fa-play" aria-hidden="true" title="Play Trip"></i> Play</button>
                                                    <button class="btn btn-warning btn-sm" ng-show="playtrip.pause" ng-click="pauseOn()" ng-disabled="detailfilterForm.VechicleNo.$invalid"> <i class="fa fa-pause" aria-hidden="true" title="Pause Trip"></i> Pause</button>
                                                    <button class="btn btn-danger btn-sm" ng-show="playtrip.stop" ng-click="stopOn()" ng-disabled="detailfilterForm.VechicleNo.$invalid"> <i class="fa fa-stop" aria-hidden="true" title="Stop Trip"></i> Stop</button>


                                                </section>


                                            </form>
                                        </fieldset>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!--Map View-->
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #009688; color: white">
                            <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
                            <h2>Map View </h2>
                        </header>
                        <div class="livetrackingcode" style="padding-top: 5px; padding-bottom: 5px; max-height:30px; border-bottom: 0px; display:inline-flex">
                            <div class="green"><span class="squareshape"></span>0-60</div>
                            <div class="blue"><span class="squareshape"></span>60-80</div>
                            <div class="red"><span class="squareshape"></span>80+</div>
                        </div>
                        <div>
                            <div class="widget-body no-padding">

                                <div class="row smart-form">
                                    <article class="col-sm-12">
                                        <div id="chartdiv1" data-smart-fill-content="" id="map-canvas" ui-map="myMap">
                                            <ui-gmap-google-map control='playtripmodel.map.control' center='playtripmodel.map.center' zoom='playtripmodel.map.zoom'>
                                                <ui-gmap-marker ng-repeat="m in playtripmodel.map.markersr"
                                                                coords="m" icon='{url: "styles/img/car.png" }' idkey="m.id" click="onClick()" events="marker.events">
                                                    <ui-gmap-window options="playtripmodel.windowOptions" closeclick="closeClick()">
                                                        <div>{{m}}</div>
                                                    </ui-gmap-window>
                                                </ui-gmap-marker>

                                                <ui-gmap-marker ng-repeat="m in playtripmodel.map.stoppagemarkers"
                                                                coords="m" icon='{url: "styles/img/stoppage.jpg" }' idkey="m.id" events="marker.events">
                                                    <ui-gmap-window options="windowOptions" closeclick="closestopClick()">
                                                        <div>
                                                            <b>{{m.stopdetails}} </b>
                                                        </div>
                                                    </ui-gmap-window>

                                                </ui-gmap-marker>

                                                <ui-gmap-marker ng-repeat="m in alertmarkersr" coords="m" options="m.options" idkey="m.id">
                                                    <ui-gmap-window options="windowOptions" closeclick="closeClick()">
                                                        <div>
                                                            <small>
                                                                Speed: {{m.vehicledetails.speed}} <br />
                                                                Date Time: {{m.vehicledetails.recorddatetime| date:'dd-MM-yyyy h:mma'}} <br />
                                                                Alert/Status : <b>{{m.vehicledetails.alert}}</b>
                                                            </small>
                                                        </div>
                                                    </ui-gmap-window>

                                                </ui-gmap-marker>


                                                <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                                                                  geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
                                            </ui-gmap-google-map>

                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!--Graphical Data-->
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #af64cc; color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Trip Speed Analysis</h2>
                        </header>
                        <div id="chartdivspeed"></div>
                    </div>
                </article>

                <!--Graphical Data-->
                <!--for mobile+obd and client user/admin-->
                <article class="col-sm-12 col-md-12 col-lg-12" ng-show="userInfo.showobd">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #af64cc; color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Graph - Speed, RPM, Engine Temp.</h2>
                        </header>
                        <div id="graphdiv"></div>
                    </div>
                </article>
                              

                <!--for mobile and client user-->
                <article class="col-sm-12 col-md-12 col-lg-12" ng-show="!userInfo.showobd">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #af64cc; color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Graph - Speed vs Datetime  </h2>
                        </header>
                        <div id="graphdivM"></div>
                    </div>
                </article>


                <!--Graphical Data-->
                <article class="col-sm-12 col-md-12 col-lg-12" ng-show="userInfo.showobd">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #af64cc; color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Graph - Stoppage / Idling</h2>
                        </header>
                        <div id="graphstoppagediv"></div>
                    </div>
                </article>

             

                <!--Vehicle Data-->
                <!--for mobile+obd and client user/admin-->
                <article class="col-sm-12 col-md-12 col-lg-12" ng-show="userInfo.showobd">
                    <div jarvis-widget data-widget-color="blue" data-widget-collapsed="true" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#5bc0dc; color: white">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Trip Data</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <table datatable-basic tablebind="dashTablebindo" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <thead>
                                        <tr>

                                            <th class="hasinput">
                                                <input type="text" class="form-control pplaceholder" placeholder="Date Time" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control pplaceholder" placeholder="Speed" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control pplaceholder" placeholder="RPM" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control pplaceholder" placeholder="Engine Temp." />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control pplaceholder" placeholder="Alert" />
                                            </th>

                                        </tr>
                                        <tr>

                                            <th data-class="expand" style="background-color: #ea9828 !important">Location/Date Time</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Speed(km/h)</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">RPM</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Engine Temp</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Alert</th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
                <!--for mobile and client user-->
                <article class="col-sm-12 col-md-12 col-lg-12" ng-show="!userInfo.showobd">
                    <div jarvis-widget data-widget-color="blue" data-widget-collapsed="true" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#5bc0dc; color: white">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Trip Data</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <table datatable-basic tablebind="dashTablebindm" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="hasinput">
                                                <input type="text" class="form-control pplaceholder" placeholder="Date Time" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control pplaceholder" placeholder="Speed" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control pplaceholder" placeholder="Alert" />
                                            </th>
                                        </tr>
                                        <tr>
                                            <th data-class="expand" style="background-color: #ea9828 !important">Location/Date Time</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Speed(km/h)</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Alert</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>

                <!--stoppage Data-->
                <article class="col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 75px;" ng-show="userInfo.showobd">
                    <div jarvis-widget data-widget-color="blue" data-widget-collapsed="true" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#5bc0dc; color:white">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Stoppage / Idling Data</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <table datatable-basic tablebind="stoppageTablebind" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th data-class="expand" style="background-color: #ea9828 !important">Location</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">From Datetime</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">To Datetime</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Stoppage(in Min)</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

</div>

<style>
    #graphdiv {
        width: 100%;
        height: 350px;
    }
    #graphdivM {
        width: 100%;
        height: 350px;
    }

    #graphstoppagediv {
        width: 100%;
        height: 350px;
    }

    #chartdivspeed {
        width: 100%;
        height: 350px;
    }

    #chartdiv1 {
        height: 350px;
    }

    .livetrackingmap .jarviswidget > div {
        padding-top: 0px;
    }

    table-hover > tbody > tr:hover {
        background-color: #5bc0dc !important;
    }
</style>

<!--<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/xy.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>-->

<style>
    #chartdivMap {
        height: 350px;
    }

    #chartdiv {
        height: 300px;
    }

     #chartdiv {
        height: 300px;
    }

    #graphdivM {
        height: 300px;
    }
    
     #chartdiv1 {
        height: 300px;
    }

    #chartdivTemp {
        width: 100%;
        height: 250px;
    }

    #chartdivSpeed {
        width: 100%;
        height: 250px;
    }

    #chartdivRpm {
        width: 100%;
        height: 250px;
    }

    #chartdivFuleLevel {
        width: 100%;
        height: 250px;
    }
</style>

<!--First Small Meter-->
<!--<script>

    var chart = AmCharts.makeChart("chartdivScore", {
        "theme": "none",
        "type": "gauge",
        "axes": [{
            "topTextFontSize": 20,
            "topTextYOffset": 70,
            "axisColor": "#31d6ea",
            "axisThickness": 1,
            "endValue": 100,
            "gridInside": true,
            "inside": true,
            "radius": "50%",
            "valueInterval": 10,
            "tickColor": "#67b7dc",
            "startAngle": -90,
            "endAngle": 90,
            "unit": "%",
            "bandOutlineAlpha": 0,
            "bands": [{
                "color": "#0080ff",
                "endValue": 100,
                "innerRadius": "105%",
                "radius": "170%",
                "gradientRatio": [0.5, 0, -0.5],
                "startValue": 0
            }, {
                "color": "#3cd3a3",
                "endValue": 0,
                "innerRadius": "105%",
                "radius": "170%",
                "gradientRatio": [0.5, 0, -0.5],
                "startValue": 0
            }]
        }],
        "arrows": [{
            "alpha": 1,
            "innerRadius": "35%",
            "nailRadius": 0,
            "radius": "170%"
        }]
    });
    setInterval(randomValue, 2000);

    // set random value
    function randomValue() {
        var value = Math.round(Math.random() * 240);
        chart.arrows[0].setValue(value);
    }
</script>-->
<!--END First Small Meter-->
