<aside id="left-panel" style="margin-top:10px">

    <!-- User info -->
    <div login-info></div>
    <!-- end user info -->

    <nav>
        <ul data-smart-menu>
            <li data-ui-sref-active="active" data-menu-collapse>
                <a data-ui-sref="app.Iotdashboardlist"> <i class="fa fa-lg  fa-home"></i> <span class="menu-item-parent">{{getWord('Dashboard')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.iotlivetracking"><i class="fa fa-map-marker"></i> Live Tracking</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.Iotmapallvehicles"><i class="fa fa-car"></i> Map All Vehicle</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.Iottripplayback"><i class="fa fa-road" aria-hidden="true"></i> Trip Play Back</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.IotBlotterViewAdmin"><i class="fa fa-bar-chart" aria-hidden="true"></i> Blotter View</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.Iotobd"><i class="fa fa-bar-chart" aria-hidden="true"></i> OBD Data</a>
                    </li>
                </ul>
            </li>

            <li data-ui-sref-active="active">
                <a data-ui-sref="#"> <i class="fa fa-car"></i><span class="menu-item-parent">{{getWord('Trip Details')}}</span></a>
            </li>

            <li data-ui-sref-active="active">
                <a data-ui-sref="app.claimform.detail"> <i class="fa fa-pencil"></i> <span class="menu-item-parent">{{getWord('My Claim')}}</span></a>
            </li>

            <li data-menu-collapse>
                <a href="#" title="Details Reports">
                    <i class="fa fa-file"></i> <span class="menu-item-parent">{{getWord('Details Reports')}}</span>
                </a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.Iotreports.distancedata"><i class="fa fa-file"></i> Distance Report</a>
                    </li>

                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.Iotreports.stoppageanalysis"><i class="fa fa-file"></i> Stoppage/Idling </a>
                    </li>

                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.Iotreports.driverperformance"><i class="fa fa-file"></i> Driver Score</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.Iotreports.speedanalysis"><i class="fa fa-file" aria-hidden="true"></i> Speed Analysis</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.Iotreports.hbhadata"><i class="fa fa-file"></i> Harsh Event Details</a>
                    </li>

                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.Iotreports.tempanalysis"><i class="fa fa-file" aria-hidden="true"></i> Engine Temp Analysis </a>
                    </li>
                    <!--<li data-ui-sref-active="active">
            <a data-ui-sref="app.Iotreports.tripdetailsanalysis"><i class="fa fa-bars" aria-hidden="true"></i> Detail Trip Report</a>
            </li>-->
                    <!--<li data-ui-sref-active="active">
                <a data-ui-sref="app.Iotreports.havstimedata"><i class="fa fa-file"></i> Harsh Event Vs DateTime</a>
            </li>-->
                    <!--<li data-ui-sref-active="active">
                <a data-ui-sref="app.Iotreports.dayvsnighthrsdata"><i class="fa fa-bar-chart"></i> Driving Hrs</a>
            </li>-->

                </ul>
            </li>
            <li data-menu-collapse>
                <a href="#">
                    <i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">{{getWord('Competition')}}</span>
                </a>
                <ul>
                    <!--<li data-ui-sref-active="active">
                        <a data-ui-sref="app.usercompetition.mycompetition">{{getWord('My Competition')}}</a>
                    </li>-->
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.usercompetition.createcompetition"><i class="fa fa-bar-chart"></i>{{getWord('Create Competition')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.usercompetition.viewcompetition"><i class="fa fa-bar-chart"></i>{{getWord('View Competition')}}</a>
                    </li>
                    <!--<li data-ui-sref-active="active">
                        <a data-ui-sref="app.usercompetition.joincompetition">{{getWord('Join Competition')}}</a>
                    </li>-->
                </ul>
            </li>

            <li data-menu-collapse>
                <a href="#" title="Master">
                    <i class="fa fa-cog"></i> <span class="menu-item-parent">{{getWord('Master')}}</span>
                </a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.configsetting.list"><i class="fa fa-bar-chart"></i>{{getWord('Config Setting')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.dashboard"><i class="fa fa-bar-chart"></i>{{getWord('Set Geofence')}}</a>
                    </li>

                    <li data-ui-sref-active="active">
                        <a data-ui-sref="#"><i class="fa fa-bar-chart"></i>{{getWord('Manage Geofence')}}</a>
                    </li>

                    <li data-ui-sref-active="active">
                        <a data-ui-sref="#"><i class="fa fa-bar-chart"></i>{{getWord('View Geofence')}}</a>
                    </li>

                    <li data-ui-sref-active="active">
                        <a data-ui-sref="#"><i class="fa fa-bar-chart"></i>{{getWord('Geofence Violation')}}</a>
                    </li>
                </ul>

            </li>


            <li data-ui-sref-active="active">
                <a data-ui-sref="#"> <i class="fa fa-comment-o" aria-hidden="true"></i> <span class="menu-item-parent">{{getWord('Help')}}</span></a>
            </li>

        </ul>

        <!-- NOTE: This allows you to pull menu items from server -->
        <!-- <ul data-smart-menu-items="/api/menu-items.json"></ul> -->
    </nav>

    <span class="minifyme" data-action="minifyMenu" minify-menu>
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>