﻿<!-- MAIN CONTENT -->
<div id="content">

    <section widget-grid id="widget-grid">

        <div style="margin-left:15px; margin-right: 15px">
            <div class="row">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>Insurance Claim  {{lblheading1}}</h2>
                </header>
            </div>

            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #1475bf; ">
                            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                            <h2> Insurance Claim Details </h2>
                        </header>

                        <div>
                            <div class="widget-body no-padding">
                                <form name="myForm" role="form" class="smart-form client-form">
                                    <article class="col-sm-12">
                                        <fieldset>
                                            <div class="row">
                                               <section class="col col-6">
                                                    <label class="label">Policy No</label>
                                                    <label class="input">
                                                        <input type="text" name="policy_no" ng-model="policy_no" ng-disabled="(action == 'Edit' )?true:false">
                                                        <!--<b class="tooltip tooltip-bottom-right">Needed to enter the Email id</b>-->

                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">Policy Period From</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        <input datetime-picker name="period_from" ng-model="period_from" title="Select start date" date-format="yyyy-MM-dd HH:mm:ss" ng-disabled="(action == 'Edit' )?true:false" />
                                                        <!--<b class="tooltip tooltip-bottom-right">Needed to enter the Email id</b>-->

                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">Policy Period To</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        <input datetime-picker name="period_to" ng-model="period_to" title="Select End date" date-format="yyyy-MM-dd HH:mm:ss" ng-disabled="(action == 'Edit' )?true:false" />
                                                        <!--<b class="tooltip tooltip-bottom-right">Needed to enter the Email id</b>-->

                                                    </label>
                                                </section>

                                                <section class="col col-6">
                                                    <label class="label"> Accident/Loss Date</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        <input datetime-picker name="date_accident_or_loss" ng-model="date_accident_or_loss" title="Select accident date" date-format="yyyy-MM-dd HH:mm:ss" ng-disabled="(action == 'Edit' )?true:false" />
                                                        <!--<b class="tooltip tooltip-bottom-right">Needed to enter the Email id</b>-->

                                                    </label>
                                                </section>

                                                <section class="col col-6">
                                                    <label class="label">Driver Name</label>
                                                    <label class="input">
                                                        <input type="text" name="name_of_driver" ng-model="name_of_driver" ng-disabled="(action == 'Edit' )?true:false">
                                                        <b class="tooltip tooltip-bottom-right">Needed to enter the Driver Name </b>
                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">Driver Birth Date</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        <input datetime-picker name="driver_birth_date" ng-model="driver_birth_date" title="Select Driver Birth Date" date-format="yyyy-MM-dd" ng-disabled="(action == 'Edit' )?true:false" />

                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">Driving Licence No</label>
                                                    <label class="input">
                                                        <!--<i class="icon-append fa fa-calendar"></i>-->
                                                        <!--  <input type="text" name="startdate" id="startdate" data-smart-datepicker data-min-restrict="#finishdate" data-date-format="dd/mm/yy HH:mm:ss" placeholder="Expected start date">-->
                                                        <input type="text" name="driving_licence_no" ng-model="driving_licence_no" ng-disabled="(action == 'Edit' )?true:false">
                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">Accident/Loss Details</label>
                                                    <label class="textarea">
                                                        <!--<i class="icon-append fa fa-calendar"></i>-->
                                                        <!--  <input type="text" name="startdate" id="startdate" data-smart-datepicker data-min-restrict="#finishdate" data-date-format="dd/mm/yy HH:mm:ss" placeholder="Expected start date">-->
                                                        <textarea rows="4" name="accident_or_loss_details" ng-model="accident_or_loss_details" ng-disabled="(action == 'Edit' )?true:false"> </textarea>
                                                    </label>
                                                </section>

                                                <section class="col col-6" ng-class="{'state-error': myForm.remark.$invalid}">
                                                    <label class="label">Remark</label>
                                                    <label class="input">
                                                        <!--<i class="icon-append fa fa-calendar"></i>-->
                                                        <!--  <input type="text" name="startdate" id="startdate" data-smart-datepicker data-min-restrict="#finishdate" data-date-format="dd/mm/yy HH:mm:ss" placeholder="Expected start date">-->
                                                        <input type="text" name="remark" ng-model="remark" required>
                                                        <span style="color:red" ng-show="myForm.remark.$touched && myForm.remark.$invalid">
                                                            <span ng-show="myForm.remark.$error.required">Remark is required.</span>
                                                        </span>
                                                    </label>
                                                </section>
                                                <section class="col col-6" ng-class="{'state-error': myForm.status.$invalid}">
                                                    <label class="label">status</label>
                                                    <label class="select">
                                                        <select name="status" ng-model="status" required>
                                                            <!--<option value="0" selected="selected" disabled=""></option>-->
                                                            <option value="p">pending</option>
                                                            <option value="c">Cancel</option>
                                                            <option value="a">Approved</option>
                                                            <option value="r">Reject</option>

                                                        </select> <i></i>
                                                        <span style="color:red" ng-show="myForm.status.$touched && myForm.status.$invalid">
                                                            <span ng-show="myForm.status.$error.required">Status is required.</span>
                                                        </span>
                                                    </label>
                                                </section>
                                            </div>
                                           
                                           
                                        </fieldset>
                                        
                                    </article>
                               </form>

                            </div>
                        </div>
                    </div>
                </article>
            </div>


            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #1475bf; ">
                            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                            <h2> Claim Document Details </h2>
                        </header>

                        <div>
                            <div class="widget-body no-padding">
                             
                                   
                                        <fieldset>
                                            <div class="textarea">
                                                <table datatable-basic tablebind="tablebind" bind-filters="false"
                                                       class="display projects-table table table-striped table-bordered table-hover"
                                                       cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>

                                                            <th data-class="expand">Document Name</th>
                                                            <!--<th data-hide="phone,tablet">Status</th>-->
                                                            <th data-hide="phone">Document</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </fieldset>

                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="row pull-right">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <footer>
                            <!--<button type="submit" class="btn btn-primary" data-ng-click="updateregister()">
                                Update Profile
                            </button>-->

                          
                            <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="UpdateAdminPolicyclaimRecord()" ng-show="(action == 'Edit' )?true:false">
                                <i class="fa fa-save"></i> Submit
                            </button>
                            <button class="btn btn-warning" ng-click="finalCancelAdminPolicyclaimRecord()">
                                <i class="fa fa-remove"></i> Cancel
                            </button>
                       </footer>
                    </div>

                </article>
            </div>


        </div>

    </section>


</div>




