﻿<!-- MAIN CONTENT -->
<div id="content">

    <section widget-grid id="widget-grid">

        <div style="margin-left:15px; margin-right: 15px">
            <div class="row">
                <big-breadcrumbs items="['Live Tracking']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
                <div smart-include="app/layout/partials/sub-header.tpl.html"></div>

            </div>
            <div class="row" style="margin-left: 0px !important">
                <article class="col-sm-12 col-md-12 col-lg-12">

                    <div class="row" style=" padding-bottom: 20px;">

                        <div class=" col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #e74c3c !important; ">
                                <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 7px; padding-bottom: 10px; background-color: #c53c2e; ">
                                        <img src="styles/img/osff.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">
                                    </div>
                                    <div class="col-xs-8 text-center">
                                        <h2 class="livescore">{{OS}}</h2>
                                        <div class="text-uppercase">Over Speed  </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #1475bf !important; ">
                                <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 7px; padding-bottom: 10px; background-color: #28628e; ">

                                        <img src="styles/img/haff.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">


                                    </div>
                                    <div class="col-xs-8 text-center">
                                        <h2 class="livescore">{{HA}}</h2>
                                        <div class="text-uppercase" title="Harsh Acceleration">Harsh Acc.</div>

                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #27ae60 !important; ">
                                <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding:8px 10px 10px 10px; background-color: #298a52;;">

                                        <img src="styles/img/Co2-Reverse.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">
                                    </div>
                                    <div class="col-xs-8 text-center padding-left0">
                                        <h2 class="livescore">{{CO2}}</h2>
                                        <div class="text-uppercase">CO2</div>
                                    </div>


                                </div>
                            </div>
                        </div>


                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #666 !important; ">
                                <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 8px; padding-bottom: 6px; background-color: #5c5c5c;">
                                        <i class="fa fa-phone fa-3x" style="color: white"></i>


                                    </div>
                                    <div class="col-xs-8 text-center padding-left0">
                                        <h2 class="livescore">{{CT}}</h2>
                                        <div class="text-uppercase">Calls Taken </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #af64cc !important; ">
                                <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding:8px 10px 10px 10px; background-color: #863ba2;">
                                        <img src="styles/img/hbff.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">

                                    </div>
                                    <div class="col-xs-8 text-center">
                                        <h2 class="livescore">{{HB}}</h2>
                                        <div class="text-uppercase" title="Harsh Braking">Harsh Brk. </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #ea9828 !important; ">
                                <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding:8px 10px 10px 10px; background-color: #d28924;;">
                                        <img src="styles/img/corff.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">
                                    </div>
                                    <div class="col-xs-8 text-center padding-left0">
                                        <h2 class="livescore">{{HC}}</h2>
                                        <div class="text-uppercase">Cornering</div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </article>
            </div>
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #1475bf; ">
                            <span class="widget-icon"> <i class="fa fa-search"></i> </span>
                            <h2>Search </h2>
                        </header>

                        <div>
                            <div class="widget-body no-padding">
                                <div class="row smart-form">
                                    <article class="col-sm-12">
                                        <fieldset>
                                            <form name="detailForm" novalidate="novalidate">
                                                <section class="col col-3" ng-class="{'state-error': detailForm.VechicleNo.$invalid}">

                                                    <label class="label">Vehicle No</label>
                                                    <label class="input" style="border: 1px  #000; border-radius: 2px">

                                                        <select title="Select vehicle number" name='VechicleNo' id="VechicleNo" ng-options="vehicle.value as vehicle.text for vehicle in dtVehicleList" ng-model="vehicleRefId" class="form-control" required></select>
                                                    </label>

                                                    <div ng-show="detailForm.VechicleNo.$touched">
                                                        <div class="note note-error" ng-if="detailForm.VechicleNo.$error.required">{{ validationMsg.required }}</div>
                                                    </div>
                                                </section>

                                                <section class="col col-3">
                                                    <label class="label">No.of points</label>
                                                    <label class="select">
                                                        <select title="Number of last received points to show." name="ddlNoOfPoints" ng-model="NoOfRecords" class="form-control" required>
                                                            <option ng-selected=true value="20">20</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                            <option value="150">150</option>
                                                            <option value="200">200</option>
                                                            <option value="500">500</option>

                                                        </select> <i></i>

                                                    </label>

                                                </section>

                                                <section class="col col-4">
                                                    <label class="label">.</label>
                                                    <button type="button" title="Start live tracking" class="btn btn-primary btn-sm" ng-click="GetLiveTrackingData()" ng-disabled="detailForm.VechicleNo.$invalid"><i class="fa fa-play" aria-hidden="true"></i> Start</button>
                                                </section>

                                            </form>
                                        </fieldset>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>


            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12 livetrackingmap">
                    <div jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #009688; color: white">
                            <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
                            <h2>Map View </h2>

                            <div class="pull-right widget-toolbar">
                                <span> {{rdate}}</span>
                                <span class="onoffswitch-title"> <button class="btn btn-warning btn-xs" ng-click="GetLiveTrackingData()" ng-if="!OnOffStatus" title="Manual Refresh" ng-disabled="detailForm.VechicleNo.$invalid"> <i class=" fa fa-refresh"></i> Manual </button></span>
                                <span class="onoffswitch" title="Auto Refresh">
                                    <input type="checkbox" name="start_interval_map" ng-model="OnOffStatus"
                                           ng-change="AutoOnOff()"
                                           class="onoffswitch-checkbox" id="start_interval_map" ng-disabled="detailForm.VechicleNo.$invalid">
                                    <label class="onoffswitch-label" for="start_interval_map" ng-disabled="detailForm.VechicleNo.$invalid">
                                        <span class="onoffswitch-inner"
                                              data-swchon-text="Auto"
                                              data-swchoff-text="Off"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </span>
                            </div>
                        </header>
                        <div class="livetrackingcode" style="padding-top: 5px; padding-bottom: 5px; max-height: 30px; display: inline-flex; z-index:100">
                            <div class="green"><span class="squareshape"></span>0-60</div>
                            <div class="blue"><span class="squareshape"></span>60-80</div>
                            <div class="red"><span class="squareshape"></span>80+</div>
                        </div>
                        <div>
                            <div class="row">

                                <div id="chartdiv1" data-smart-fill-content="" id="map-canvas" ui-map="myMap">
                                    <ui-gmap-google-map control='map.control' center='map.center' zoom='map.zoom'>
                                        <ui-gmap-marker ng-repeat="m in map.markersr"
                                                        coords="m" icon='{url: "styles/img/car.png" }' idkey="m.id" click="onClick()" events="marker.events">
                                            <ui-gmap-window options="windowOptionsinfo" closeclick="closeClick()">
                                                <div>{{info}}</div>
                                            </ui-gmap-window>
                                        </ui-gmap-marker>
                                        <ui-gmap-marker ng-repeat="m in map.Stoppagemarkersr"
                                                        coords="m" icon='{url: "styles/img/stoppage.jpg" }' idkey="m.id" events="marker.events">
                                            <ui-gmap-window options="windowOptions" closeclick="closestopClick()">
                                                <div>
                                                    <b>{{m.stopdetails}} </b>
                                                </div>
                                            </ui-gmap-window>
                                        </ui-gmap-marker>
                                        <ui-gmap-marker ng-repeat="m in alertmarkersr" coords="m" options="m.options" idkey="m.id">
                                            <ui-gmap-window options="windowOptions" closeclick="closeClick()">
                                                <div>
                                                    <small>
                                                        Speed: {{m.vehicledetails.speed}} <br />
                                                        Date Time: {{m.vehicledetails.recorddatetime| date:'dd-MM-yyyy h:mma'}} <br />
                                                        Alert/Status : <b>{{m.vehicledetails.alert}}</b>
                                                    </small>
                                                </div>
                                            </ui-gmap-window>

                                        </ui-gmap-marker>

                                        <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                                                          geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
                                    </ui-gmap-google-map>
                                </div>

                            </div>
                        </div>
                    </div>

                </article>
                <!--for mobile+obd and client user/admin-->
                <article class="col-sm-12 col-md-12 col-lg-12" ng-show="userInfo.showobd">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #af64cc; color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Graph - Speed, Rpm, Engine Temp. vs Datetime  </h2>
                        </header>
                        <div id="chartdiv"></div>
                    </div>
                </article>

                <!--for mobile and client user-->
                <article class="col-sm-12 col-md-12 col-lg-12" ng-show="!userInfo.showobd">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #af64cc; color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Graph - Speed vs Datetime  </h2>
                        </header>
                        <div id="chartdivM"></div>
                    </div>
                </article>

                <!--for mobile+obd and client user/admin-->
                <article class="col-sm-12 col-md-12 col-lg-12" ng-show="userInfo.showobd">
                    <div jarvis-widget data-widget-color="blue" data-widget-collapsed="true"  data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #5bc0dc; color: white">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Live Trip Data</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <table datatable-basic tablebind="dashTablebindo" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="hasinput" style="width:15%">
                                                <input type="text" class="form-control pplaceholder" placeholder="Date Time" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control pplaceholder" placeholder="Speed(km/h)" />
                                            </th>

                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control pplaceholder" placeholder="RPM" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control pplaceholder" placeholder="Engine Temp." />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control pplaceholder" placeholder="Alert" />
                                            </th>
                                        </tr>
                                        <tr>
                                            <th data-class="expand" style="background-color: #ea9828 !important">Location/Date Time</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Speed(km/h)</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">RPM</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Engine Temp.</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Alert</th>
                                        </tr>
                                    </thead>
                                </table>

                            </div>
                        </div>
                    </div>
                </article>


                <!--for mobile and client user-->
                <article class="col-sm-12 col-md-12 col-lg-12" ng-show="!userInfo.showobd">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #5bc0dc; color: white">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Live Trip Data</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <table datatable-basic tablebind="dashTablebindm" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="35%">
                                    <thead>
                                        <tr>
                                            <th class="hasinput" style="width:15%">
                                                <input type="text" class="form-control pplaceholder" placeholder="DateTime" />
                                            </th>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control pplaceholder" placeholder="Speed(km/h)" />
                                            </th>

                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control pplaceholder" placeholder="Alert" />
                                            </th>
                                        </tr>
                                        <tr>
                                            <th data-class="expand" style="background-color: #ea9828 !important">Location/Date Time</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Speed(km/h)</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Alert</th>
                                        </tr>
                                    </thead>
                                </table>

                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>


</div>

<style>
    #chartdiv {
        width: 100%;
        height: 350px;
    }

    #chartdiv1 {
        width: 100%;
        height: 350px;
        overflow: visible;
    }
    #chartdivM {
        width: 100%;
        height: 350px;
    }
    
    
     .livetrackingmap .jarviswidget > div {
        padding-top: 0px;
    }

    table-hover > tbody > tr:hover {
        background-color: #5bc0dc !important;
    }
</style>
