﻿<link rel="stylesheet" href="/styles/css/lockscreen.css" />
<div id="main" role="main">

    <!--Error Page Design-->
    <div id="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center error-box">
                            <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> Error</h1>
                            <h2 class="font-xl"><strong>Oooops, Something went wrong!</strong></h2>
                            <br />

                            <p class="lead semi-bold">
                                <strong>You have experienced a technical error. We apologize.</strong><br><br>
                                <!--<small>
                                    We are working hard to correct this issue. Please wait a few moments and try your search again. <br> or Communicate to Your IT Help Desk
                                </small>-->
                                <small>
                                    <a href="javascript:void(0);" ui-sref="login">click here <i class="fa fa-arrow-left"></i></a> to login again.
                                </small>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END Error Page Design-->

</div>
